:root {
    --main-color: #000000;
    --initial-main-color: #000000;
    --error-color: #B00020;

    --opacity-hover: 0.04;
    --opacity-focus: 0.12;
    --opacity-selected: 0.08;
    --opacity-activated: 0.12;
    --opacity-pressed: 0.16;
    --opacity-dragged: 0.08;

    --initial-text-primary: rgba(0, 0, 0, 0.87);
    --initial-text-secondary: rgba(0, 0, 0, 0.6);
    --initial-text-hint: rgba(0, 0, 0, 0.38);
    --initial-text-divider: rgba(0, 0, 0, 0.12);

    --text-primary: var(--initial-text-primary);
    --text-secondary: var(--initial-text-secondary);
    --text-hint: var(--initial-text-hint);
    --text-divider: var(--initial-text-divider);

    --initial-bg-status-bar: #E0E0E0;
    --initial-bg-app-bar: #F5F5F5;
    --initial-bg-main-content: #FAFAFA;
    --initial-bg-cards: #FFFFFF;
    --initial-bg-border: rgba(0, 0, 0, 0.12);

    --bg-status-bar: var(--initial-bg-status-bar);
    --bg-app-bar: var(--initial-bg-app-bar);
    --bg-main-content: var(--initial-bg-main-content);
    --bg-cards: var(--initial-bg-cards);
    --bg-border: var(--initial-bg-border);

    --input: rgba(0, 0, 0, 0.04);
    --input-hover: rgba(0, 0, 0, 0.12);
    --input-focus: rgba(0, 0, 0, 0.16);
    --input-disabled: rgba(0, 0, 0, 0.02);

    --switch-rail-opacity: 0.32;
    --switch-rail-opacity-0: 0.32;
    --switch-disabled-opacity: 0.38;
    --switch-color: #FFFFFF;
    --slider-disabled-color: #7D7D7D;

    color: var(--text-primary);
    border-color: var(--bg-border);
}

.md-theme-light {
    --main-color: #000000;
    --initial-main-color: #000000;
    --error-color: #B00020;

    --opacity-hover: 0.04;
    --opacity-focus: 0.12;
    --opacity-selected: 0.08;
    --opacity-activated: 0.12;
    --opacity-pressed: 0.16;
    --opacity-dragged: 0.08;

    --initial-text-primary: rgba(0, 0, 0, 0.87);
    --initial-text-secondary: rgba(0, 0, 0, 0.6);
    --initial-text-hint: rgba(0, 0, 0, 0.38);
    --initial-text-divider: rgba(0, 0, 0, 0.12);

    --text-primary: var(--initial-text-primary);
    --text-secondary: var(--initial-text-secondary);
    --text-hint: var(--initial-text-hint);
    --text-divider: var(--initial-text-divider);

    --initial-bg-status-bar: #E0E0E0;
    --initial-bg-app-bar: #F5F5F5;
    --initial-bg-main-content: #FAFAFA;
    --initial-bg-cards: #FFFFFF;
    --initial-bg-border: rgba(0, 0, 0, 0.12);

    --bg-status-bar: var(--initial-bg-status-bar);
    --bg-app-bar: var(--initial-bg-app-bar);
    --bg-main-content: var(--initial-bg-main-content);
    --bg-cards: var(--initial-bg-cards);
    --bg-border: var(--initial-bg-border);

    --input: rgba(0, 0, 0, 0.04);
    --input-hover: rgba(0, 0, 0, 0.12);
    --input-focus: rgba(0, 0, 0, 0.16);
    --input-disabled: rgba(0, 0, 0, 0.02);

    --switch-rail-opacity: 0.32;
    --switch-rail-opacity-0: 0.32;
    --switch-color: #FFFFFF;
    --slider-disabled-color: #7D7D7D;

    color: var(--text-primary);
    border-color: var(--bg-border);
}

.md-theme-dark {
    --main-color: #FFFFFF;
    --initial-main-color: #FFFFFF;
    --error-color: #FF3159;

    --opacity-hover: 0.08;
    --opacity-focus: 0.24;
    --opacity-selected: 0.16;
    --opacity-activated: 0.24;
    --opacity-pressed: 0.32;
    --opacity-dragged: 0.16;

    --initial-text-primary: rgba(255, 255, 255, 1);
    --initial-text-secondary: rgba(255, 255, 255, 0.7);
    --initial-text-hint: rgba(255, 255, 255, 0.5);
    --initial-text-divider: rgba(255, 255, 255, 0.12);

    --text-primary: var(--initial-text-primary);
    --text-secondary: var(--initial-text-secondary);
    --text-hint: var(--initial-text-hint);
    --text-divider: var(--initial-text-divider);

    --initial-bg-status-bar: #000000;
    --initial-bg-app-bar: #212121;
    --initial-bg-main-content: #303030;
    --initial-bg-cards: #424242;
    --initial-bg-border: rgba(255, 255, 255, 0.12);

    --bg-status-bar: var(--initial-bg-status-bar);
    --bg-app-bar: var(--initial-bg-app-bar);
    --bg-main-content: var(--initial-bg-main-content);
    --bg-cards: var(--initial-bg-cards);
    --bg-border: var(--initial-bg-border);

    --input: rgba(255, 255, 255, 0.08);
    --input-hover: rgba(255, 255, 255, 0.16);
    --input-focus: rgba(255, 255, 255, 0.24);
    --input-disabled: rgba(255, 255, 255, 0.04);

    --switch-rail-opacity: 0.38;
    --switch-rail-opacity-0: 0.38;
    --switch-color: #FAFAFA;
    --slider-disabled-color: #979797;
    
    color: var(--text-primary);
    border-color: var(--bg-border);
}

body {
    background-color: var(--bg-main-content);
    color: var(--text-primary);
    border-color: var(--bg-border);
}

.text-primary {
    color: var(--text-primary) !important;
}

.text-secondary {
    color: var(--text-secondary) !important;
}

.text-hint {
    color: var(--text-hint) !important;
}

.text-divider {
    color: var(--text-divider) !important;
}

.bg-status-bar {
    background-color: var(--bg-status-bar) !important;
}

.bg-app-bar {
    background-color: var(--bg-app-bar) !important;
}

.bg-main-content {
    background-color: var(--bg-main-content) !important;
}

.bg-cards {
    background-color: var(--bg-cards) !important;
}

.red-50 {
    --main-color: #FFEBEE;
}

.red-100 {
    --main-color: #FFCDD2;
}

.red-200 {
    --main-color: #EF9A9A;
}

.red-300 {
    --main-color: #E57373;
}

.red-400 {
    --main-color: #EF5350;
}

.red, .red-500 {
    --main-color: #F44336;
}

.red-600 {
    --main-color: #E53935;
}

.red-700 {
    --main-color: #D32F2F;
}

.red-800 {
    --main-color: #C62828;
}

.red-900 {
    --main-color: #B71C1C;
}

.red-A100 {
    --main-color: #FF8A80;
}

.red-A200 {
    --main-color: #FF5252;
}

.red-A400 {
    --main-color: #FF1744;
}

.red-A700 {
    --main-color: #D50000;
}

.pink-50 {
    --main-color: #FCE4EC;
}

.pink-100 {
    --main-color: #F8BBD0;
}

.pink-200 {
    --main-color: #F48FB1;
}

.pink-300 {
    --main-color: #F06292;
}

.pink-400 {
    --main-color: #EC407A;
}

.pink, .pink-500 {
    --main-color: #E91E63;
}

.pink-600 {
    --main-color: #D81B60;
}

.pink-700 {
    --main-color: #C2185B;
}

.pink-800 {
    --main-color: #AD1457;
}

.pink-900 {
    --main-color: #880E4F;
}

.pink-A100 {
    --main-color: #FF80AB;
}

.pink-A200 {
    --main-color: #FF4081;
}

.pink-A400 {
    --main-color: #F50057;
}

.pink-A700 {
    --main-color: #C51162;
}

.purple-50 {
    --main-color: #F3E5F5;
}

.purple-100 {
    --main-color: #E1BEE7;
}

.purple-200 {
    --main-color: #CE93D8;
}

.purple-300 {
    --main-color: #BA68C8;
}

.purple-400 {
    --main-color: #AB47BC;
}

.purple, .purple-500 {
    --main-color: #9C27B0;
}

.purple-600 {
    --main-color: #8E24AA;
}

.purple-700 {
    --main-color: #7B1FA2;
}

.purple-800 {
    --main-color: #6A1B9A;
}

.purple-900 {
    --main-color: #4A148C;
}

.purple-A100 {
    --main-color: #EA80FC;
}

.purple-A200 {
    --main-color: #E040FB;
}

.purple-A400 {
    --main-color: #D500F9;
}

.purple-A700 {
    --main-color: #AA00FF;
}

.deep-purple-50 {
    --main-color: #EDE7F6;
}

.deep-purple-100 {
    --main-color: #D1C4E9;
}

.deep-purple-200 {
    --main-color: #B39DDB;
}

.deep-purple-300 {
    --main-color: #9575CD;
}

.deep-purple-400 {
    --main-color: #7E57C2;
}

.deep-purple, .deep-purple-500 {
    --main-color: #673AB7;
}

.deep-purple-600 {
    --main-color: #5E35B1;
}

.deep-purple-700 {
    --main-color: #512DA8;
}

.deep-purple-800 {
    --main-color: #4527A0;
}

.deep-purple-900 {
    --main-color: #311B92;
}

.deep-purple-A100 {
    --main-color: #B388FF;
}

.deep-purple-A200 {
    --main-color: #7C4DFF;
}

.deep-purple-A400 {
    --main-color: #651FFF;
}

.deep-purple-A700 {
    --main-color: #6200EA;
}

.indigo-50 {
    --main-color: #E8EAF6;
}

.indigo-100 {
    --main-color: #C5CAE9;
}

.indigo-200 {
    --main-color: #9FA8DA;
}

.indigo-300 {
    --main-color: #7986CB;
}

.indigo-400 {
    --main-color: #5C6BC0;
}

.indigo, .indigo-500 {
    --main-color: #3F51B5;
}

.indigo-600 {
    --main-color: #3949AB;
}

.indigo-700 {
    --main-color: #303F9F;
}

.indigo-800 {
    --main-color: #283593;
}

.indigo-900 {
    --main-color: #1A237E;
}

.indigo-A100 {
    --main-color: #8C9EFF;
}

.indigo-A200 {
    --main-color: #536DFE;
}

.indigo-A400 {
    --main-color: #3D5AFE;
}

.indigo-A700 {
    --main-color: #304FFE;
}

.blue-50 {
    --main-color: #E3F2FD;
}

.blue-100 {
    --main-color: #BBDEFB;
}

.blue-200 {
    --main-color: #90CAF9;
}

.blue-300 {
    --main-color: #64B5F6;
}

.blue-400 {
    --main-color: #42A5F5;
}

.blue, .blue-500 {
    --main-color: #2196F3;
}

.blue-600 {
    --main-color: #1E88E5;
}

.blue-700 {
    --main-color: #1976D2;
}

.blue-800 {
    --main-color: #1565C0;
}

.blue-900 {
    --main-color: #0D47A1;
}

.blue-A100 {
    --main-color: #82B1FF;
}

.blue-A200 {
    --main-color: #448AFF;
}

.blue-A400 {
    --main-color: #2979FF;
}

.blue-A700 {
    --main-color: #2962FF;
}

.light-blue-50 {
    --main-color: #E1F5FE;
}

.light-blue-100 {
    --main-color: #B3E5FC;
}

.light-blue-200 {
    --main-color: #81D4FA;
}

.light-blue-300 {
    --main-color: #4FC3F7;
}

.light-blue-400 {
    --main-color: #29B6F6;
}

.light-blue, .light-blue-500 {
    --main-color: #03A9F4;
}

.light-blue-600 {
    --main-color: #039BE5;
}

.light-blue-700 {
    --main-color: #0288D1;
}

.light-blue-800 {
    --main-color: #0277BD;
}

.light-blue-900 {
    --main-color: #01579B;
}

.light-blue-A100 {
    --main-color: #80D8FF;
}

.light-blue-A200 {
    --main-color: #40C4FF;
}

.light-blue-A400 {
    --main-color: #00B0FF;
}

.light-blue-A700 {
    --main-color: #0091EA;
}

.cyan-50 {
    --main-color: #E0F7FA;
}

.cyan-100 {
    --main-color: #B2EBF2;
}

.cyan-200 {
    --main-color: #80DEEA;
}

.cyan-300 {
    --main-color: #4DD0E1;
}

.cyan-400 {
    --main-color: #26C6DA;
}

.cyan, .cyan-500 {
    --main-color: #00BCD4;
}

.cyan-600 {
    --main-color: #00ACC1;
}

.cyan-700 {
    --main-color: #0097A7;
}

.cyan-800 {
    --main-color: #00838F;
}

.cyan-900 {
    --main-color: #006064;
}

.cyan-A100 {
    --main-color: #84FFFF;
}

.cyan-A200 {
    --main-color: #18FFFF;
}

.cyan-A400 {
    --main-color: #00E5FF;
}

.cyan-A700 {
    --main-color: #00B8D4;
}

.teal-50 {
    --main-color: #E0F2F1;
}

.teal-100 {
    --main-color: #B2DFDB;
}

.teal-200 {
    --main-color: #80CBC4;
}

.teal-300 {
    --main-color: #4DB6AC;
}

.teal-400 {
    --main-color: #26A69A;
}

.teal, .teal-500 {
    --main-color: #009688;
}

.teal-600 {
    --main-color: #00897B;
}

.teal-700 {
    --main-color: #00796B;
}

.teal-800 {
    --main-color: #00695C;
}

.teal-900 {
    --main-color: #004D40;
}

.teal-A100 {
    --main-color: #A7FFEB;
}

.teal-A200 {
    --main-color: #64FFDA;
}

.teal-A400 {
    --main-color: #1DE9B6;
}

.teal-A700 {
    --main-color: #00BFA5;
}

.green-50 {
    --main-color: #E8F5E9;
}

.green-100 {
    --main-color: #C8E6C9;
}

.green-200 {
    --main-color: #A5D6A7;
}

.green-300 {
    --main-color: #81C784;
}

.green-400 {
    --main-color: #66BB6A;
}

.green, .green-500 {
    --main-color: #4CAF50;
}

.green-600 {
    --main-color: #43A047;
}

.green-700 {
    --main-color: #388E3C;
}

.green-800 {
    --main-color: #2E7D32;
}

.green-900 {
    --main-color: #1B5E20;
}

.green-A100 {
    --main-color: #B9F6CA;
}

.green-A200 {
    --main-color: #69F0AE;
}

.green-A400 {
    --main-color: #00E676;
}

.green-A700 {
    --main-color: #00C853;
}

.light-green-50 {
    --main-color: #F1F8E9;
}

.light-green-100 {
    --main-color: #DCEDC8;
}

.light-green-200 {
    --main-color: #C5E1A5;
}

.light-green-300 {
    --main-color: #AED581;
}

.light-green-400 {
    --main-color: #9CCC65;
}

.light-green, .light-green-500 {
    --main-color: #8BC34A;
}

.light-green-600 {
    --main-color: #7CB342;
}

.light-green-700 {
    --main-color: #689F38;
}

.light-green-800 {
    --main-color: #558B2F;
}

.light-green-900 {
    --main-color: #33691E;
}

.light-green-A100 {
    --main-color: #CCFF90;
}

.light-green-A200 {
    --main-color: #B2FF59;
}

.light-green-A400 {
    --main-color: #76FF03;
}

.light-green-A700 {
    --main-color: #64DD17;
}

.lime-50 {
    --main-color: #F9FBE7;
}

.lime-100 {
    --main-color: #F0F4C3;
}

.lime-200 {
    --main-color: #E6EE9C;
}

.lime-300 {
    --main-color: #DCE775;
}

.lime-400 {
    --main-color: #D4E157;
}

.lime, .lime-500 {
    --main-color: #CDDC39;
}

.lime-600 {
    --main-color: #C0CA33;
}

.lime-700 {
    --main-color: #AFB42B;
}

.lime-800 {
    --main-color: #9E9D24;
}

.lime-900 {
    --main-color: #827717;
}

.lime-A100 {
    --main-color: #F4FF81;
}

.lime-A200 {
    --main-color: #EEFF41;
}

.lime-A400 {
    --main-color: #C6FF00;
}

.lime-A700 {
    --main-color: #AEEA00;
}

.yellow-50 {
    --main-color: #FFFDE7;
}

.yellow-100 {
    --main-color: #FFF9C4;
}

.yellow-200 {
    --main-color: #FFF59D;
}

.yellow-300 {
    --main-color: #FFF176;
}

.yellow-400 {
    --main-color: #FFEE58;
}

.yellow, .yellow-500 {
    --main-color: #FFEB3B;
}

.yellow-600 {
    --main-color: #FDD835;
}

.yellow-700 {
    --main-color: #FBC02D;
}

.yellow-800 {
    --main-color: #F9A825;
}

.yellow-900 {
    --main-color: #F57F17;
}

.yellow-A100 {
    --main-color: #FFFF8D;
}

.yellow-A200 {
    --main-color: #FFFF00;
}

.yellow-A400 {
    --main-color: #FFEA00;
}

.yellow-A700 {
    --main-color: #FFD600;
}

.amber-50 {
    --main-color: #FFF8E1;
}

.amber-100 {
    --main-color: #FFECB3;
}

.amber-200 {
    --main-color: #FFE082;
}

.amber-300 {
    --main-color: #FFD54F;
}

.amber-400 {
    --main-color: #FFCA28;
}

.amber, .amber-500 {
    --main-color: #FFC107;
}

.amber-600 {
    --main-color: #FFB300;
}

.amber-700 {
    --main-color: #FFA000;
}

.amber-800 {
    --main-color: #FF8F00;
}

.amber-900 {
    --main-color: #FF6F00;
}

.amber-A100 {
    --main-color: #FFE57F;
}

.amber-A200 {
    --main-color: #FFD740;
}

.amber-A400 {
    --main-color: #FFC400;
}

.amber-A700 {
    --main-color: #FFAB00;
}

.orange-50 {
    --main-color: #FFF3E0;
}

.orange-100 {
    --main-color: #FFE0B2;
}

.orange-200 {
    --main-color: #FFCC80;
}

.orange-300 {
    --main-color: #FFB74D;
}

.orange-400 {
    --main-color: #FFA726;
}

.orange, .orange-500 {
    --main-color: #FF9800;
}

.orange-600 {
    --main-color: #FB8C00;
}

.orange-700 {
    --main-color: #F57C00;
}

.orange-800 {
    --main-color: #EF6C00;
}

.orange-900 {
    --main-color: #E65100;
}

.orange-A100 {
    --main-color: #FFD180;
}

.orange-A200 {
    --main-color: #FFAB40;
}

.orange-A400 {
    --main-color: #FF9100;
}

.orange-A700 {
    --main-color: #FF6D00;
}

.deep-orange-50 {
    --main-color: #FBE9E7;
}

.deep-orange-100 {
    --main-color: #FFCCBC;
}

.deep-orange-200 {
    --main-color: #FFAB91;
}

.deep-orange-300 {
    --main-color: #FF8A65;
}

.deep-orange-400 {
    --main-color: #FF7043;
}

.deep-orange, .deep-orange-500 {
    --main-color: #FF5722;
}

.deep-orange-600 {
    --main-color: #F4511E;
}

.deep-orange-700 {
    --main-color: #E64A19;
}

.deep-orange-800 {
    --main-color: #D84315;
}

.deep-orange-900 {
    --main-color: #BF360C;
}

.deep-orange-A100 {
    --main-color: #FF9E80;
}

.deep-orange-A200 {
    --main-color: #FF6E40;
}

.deep-orange-A400 {
    --main-color: #FF3D00;
}

.deep-orange-A700 {
    --main-color: #DD2C00;
}

.brown-50 {
    --main-color: #EFEBE9;
}

.brown-100 {
    --main-color: #D7CCC8;
}

.brown-200 {
    --main-color: #BCAAA4;
}

.brown-300 {
    --main-color: #A1887F;
}

.brown-400 {
    --main-color: #8D6E63;
}

.brown, .brown-500 {
    --main-color: #795548;
}

.brown-600 {
    --main-color: #6D4C41;
}

.brown-700 {
    --main-color: #5D4037;
}

.brown-800 {
    --main-color: #4E342E;
}

.brown-900 {
    --main-color: #3E2723;
}

.grey-50 {
    --main-color: #FAFAFA;
}

.grey-100 {
    --main-color: #F5F5F5;
}

.grey-200 {
    --main-color: #EEEEEE;
}

.grey-300 {
    --main-color: #E0E0E0;
}

.grey-400 {
    --main-color: #BDBDBD;
}

.grey, .grey-500 {
    --main-color: #9E9E9E;
}

.grey-600 {
    --main-color: #757575;
}

.grey-700 {
    --main-color: #616161;
}

.grey-800 {
    --main-color: #424242;
}

.grey-900 {
    --main-color: #212121;
}

.blue-grey-50 {
    --main-color: #ECEFF1;
}

.blue-grey-100 {
    --main-color: #CFD8DC;
}

.blue-grey-200 {
    --main-color: #B0BEC5;
}

.blue-grey-300 {
    --main-color: #90A4AE;
}

.blue-grey-400 {
    --main-color: #78909C;
}

.blue-grey, .blue-grey-500 {
    --main-color: #607D8B;
}

.blue-grey-600 {
    --main-color: #546E7A;
}

.blue-grey-700 {
    --main-color: #455A64;
}

.blue-grey-800 {
    --main-color: #37474F;
}

.blue-grey-900 {
    --main-color: #263238;
}

.black {
    --main-color: #000000;
}

.white {
    --main-color: #FFFFFF;
}

.red-50, .red-100, .red-200, .red-300, .red-A100, .pink-50, .pink-100, .pink-200, .pink-A100, .purple-50, .purple-100, .purple-200, .purple-A100, .deep-purple-50, .deep-purple-100, .deep-purple-200, .deep-purple-A100, .indigo-50, .indigo-100, .indigo-200, .indigo-A100, .blue-50, .blue-100, .blue-200, .blue-300, .blue-400, .blue-A100, .light-blue-50, .light-blue-100, .light-blue-200, .light-blue-300, .light-blue-400, .light-blue, .light-blue-500, .light-blue-A100, .light-blue-A200, .light-blue-A400, .cyan-50, .cyan-100, .cyan-200, .cyan-300, .cyan-400, .cyan, .cyan-500, .cyan-600, .cyan-A100, .cyan-A200, .cyan-A400, .cyan-A700, .teal-50, .teal-100, .teal-200, .teal-300, .teal-400, .teal-A100, .teal-A200, .teal-A400, .teal-A700, .green-50, .green-100, .green-200, .green-300, .green-400, .green, .green-500, .green-A100, .green-A200, .green-A400, .green-A700, .light-green-50, .light-green-100, .light-green-200, .light-green-300, .light-green-400, .light-green, .light-green-500, .light-green-600, .light-green-A100, .light-green-A200, .light-green-A400, .light-green-A700, .lime-50, .lime-100, .lime-200, .lime-300, .lime-400, .lime, .lime-500, .lime-600, .lime-700, .lime-800, .lime-A100, .lime-A200, .lime-A400, .lime-A700, .yellow-50, .yellow-100, .yellow-200, .yellow-300, .yellow-400, .yellow, .yellow-500, .yellow-600, .yellow-700, .yellow-800, .yellow-900, .yellow-A100, .yellow-A200, .yellow-A400, .yellow-A700, .amber-50, .amber-100, .amber-200, .amber-300, .amber-400, .amber, .amber-500, .amber-600, .amber-700, .amber-800, .amber-900, .amber-A100, .amber-A200, .amber-A400, .amber-A700, .orange-50, .orange-100, .orange-200, .orange-300, .orange-400, .orange, .orange-500, .orange-600, .orange-700, .orange-A100, .orange-A200, .orange-A400, .orange-A700, .deep-orange-50, .deep-orange-100, .deep-orange-200, .deep-orange-300, .deep-orange-400, .deep-orange-A100, .deep-orange-A200, .brown-50, .brown-100, .brown-200, .grey-50, .grey-100, .grey-200, .grey-300, .grey-400, .grey, .grey-500, .blue-grey-50, .blue-grey-100, .blue-grey-200, .blue-grey-300, .white {
    --fg-primary: rgba(0, 0, 0, 0.87);
    --fg-secondary: rgba(0, 0, 0, 0.6);
    --fg-hint: rgba(0, 0, 0, 0.38);
    --fg-divider: rgba(0, 0, 0, 0.12);

    --text-primary: var(--main-color);
    --text-secondary: var(--main-color);
    --text-hint: var(--main-color);
    --text-divider: var(--main-color);
    --bg-border: var(--main-color);
    
    --switch-rail-opacity: 0.5;

    color: var(--text-primary);
    border-color: var(--bg-border);
}

.red-400, .red, .red-500, .red-600, .red-700, .red-800, .red-900, .red-A200, .red-A400, .red-A700, .pink-300, .pink-400, .pink, .pink-500, .pink-600, .pink-700, .pink-800, .pink-900, .pink-A200, .pink-A400, .pink-A700, .purple-300, .purple-400, .purple, .purple-500, .purple-600, .purple-700, .purple-800, .purple-900, .purple-A200, .purple-A400, .purple-A700, .deep-purple-300, .deep-purple-400, .deep-purple, .deep-purple-500, .deep-purple-600, .deep-purple-700, .deep-purple-800, .deep-purple-900, .deep-purple-A200, .deep-purple-A400, .deep-purple-A700, .indigo-300, .indigo-400, .indigo, .indigo-500, .indigo-600, .indigo-700, .indigo-800, .indigo-900, .indigo-A200, .indigo-A400, .indigo-A700, .blue, .blue-500, .blue-600, .blue-700, .blue-800, .blue-900, .blue-A200, .blue-A400, .blue-A700, .light-blue-600, .light-blue-700, .light-blue-800, .light-blue-900, .light-blue-A700, .cyan-700, .cyan-800, .cyan-900, .teal, .teal-500, .teal-600, .teal-700, .teal-800, .teal-900, .green-600, .green-700, .green-800, .green-900, .light-green-700, .light-green-800, .light-green-900, .lime-900, .orange-800, .orange-900, .deep-orange, .deep-orange-500, .deep-orange-600, .deep-orange-700, .deep-orange-800, .deep-orange-900, .deep-orange-A400, .deep-orange-A700, .brown-300, .brown-400, .brown, .brown-500, .brown-600, .brown-700, .brown-800, .brown-900, .grey-600, .grey-700, .grey-800, .grey-900, .blue-grey-400, .blue-grey, .blue-grey-500, .blue-grey-600, .blue-grey-700, .blue-grey-800, .blue-grey-900, .black {
    --fg-primary: rgba(255, 255, 255, 1);
    --fg-secondary: rgba(255, 255, 255, 0.7);
    --fg-hint: rgba(255, 255, 255, 0.5);
    --fg-divider: rgba(255, 255, 255, 0.12);

    --text-primary: var(--main-color);
    --text-secondary: var(--main-color);
    --text-hint: var(--main-color);
    --text-divider: var(--main-color);
    --bg-border: var(--main-color);

    --switch-rail-opacity: 0.5;
    
    color: var(--text-primary);
    border-color: var(--bg-border);
}

.bg-red-50 {
    --bg-main-content: #FFEBEE;
}

.bg-red-100 {
    --bg-main-content: #FFCDD2;
}

.bg-red-200 {
    --bg-main-content: #EF9A9A;
}

.bg-red-300 {
    --bg-main-content: #E57373;
}

.bg-red-400 {
    --bg-main-content: #EF5350;
}

.bg-red, .bg-red-500 {
    --bg-main-content: #F44336;
}

.bg-red-600 {
    --bg-main-content: #E53935;
}

.bg-red-700 {
    --bg-main-content: #D32F2F;
}

.bg-red-800 {
    --bg-main-content: #C62828;
}

.bg-red-900 {
    --bg-main-content: #B71C1C;
}

.bg-red-A100 {
    --bg-main-content: #FF8A80;
}

.bg-red-A200 {
    --bg-main-content: #FF5252;
}

.bg-red-A400 {
    --bg-main-content: #FF1744;
}

.bg-red-A700 {
    --bg-main-content: #D50000;
}

.bg-pink-50 {
    --bg-main-content: #FCE4EC;
}

.bg-pink-100 {
    --bg-main-content: #F8BBD0;
}

.bg-pink-200 {
    --bg-main-content: #F48FB1;
}

.bg-pink-300 {
    --bg-main-content: #F06292;
}

.bg-pink-400 {
    --bg-main-content: #EC407A;
}

.bg-pink, .bg-pink-500 {
    --bg-main-content: #E91E63;
}

.bg-pink-600 {
    --bg-main-content: #D81B60;
}

.bg-pink-700 {
    --bg-main-content: #C2185B;
}

.bg-pink-800 {
    --bg-main-content: #AD1457;
}

.bg-pink-900 {
    --bg-main-content: #880E4F;
}

.bg-pink-A100 {
    --bg-main-content: #FF80AB;
}

.bg-pink-A200 {
    --bg-main-content: #FF4081;
}

.bg-pink-A400 {
    --bg-main-content: #F50057;
}

.bg-pink-A700 {
    --bg-main-content: #C51162;
}

.bg-purple-50 {
    --bg-main-content: #F3E5F5;
}

.bg-purple-100 {
    --bg-main-content: #E1BEE7;
}

.bg-purple-200 {
    --bg-main-content: #CE93D8;
}

.bg-purple-300 {
    --bg-main-content: #BA68C8;
}

.bg-purple-400 {
    --bg-main-content: #AB47BC;
}

.bg-purple, .bg-purple-500 {
    --bg-main-content: #9C27B0;
}

.bg-purple-600 {
    --bg-main-content: #8E24AA;
}

.bg-purple-700 {
    --bg-main-content: #7B1FA2;
}

.bg-purple-800 {
    --bg-main-content: #6A1B9A;
}

.bg-purple-900 {
    --bg-main-content: #4A148C;
}

.bg-purple-A100 {
    --bg-main-content: #EA80FC;
}

.bg-purple-A200 {
    --bg-main-content: #E040FB;
}

.bg-purple-A400 {
    --bg-main-content: #D500F9;
}

.bg-purple-A700 {
    --bg-main-content: #AA00FF;
}

.bg-deep-purple-50 {
    --bg-main-content: #EDE7F6;
}

.bg-deep-purple-100 {
    --bg-main-content: #D1C4E9;
}

.bg-deep-purple-200 {
    --bg-main-content: #B39DDB;
}

.bg-deep-purple-300 {
    --bg-main-content: #9575CD;
}

.bg-deep-purple-400 {
    --bg-main-content: #7E57C2;
}

.bg-deep-purple, .bg-deep-purple-500 {
    --bg-main-content: #673AB7;
}

.bg-deep-purple-600 {
    --bg-main-content: #5E35B1;
}

.bg-deep-purple-700 {
    --bg-main-content: #512DA8;
}

.bg-deep-purple-800 {
    --bg-main-content: #4527A0;
}

.bg-deep-purple-900 {
    --bg-main-content: #311B92;
}

.bg-deep-purple-A100 {
    --bg-main-content: #B388FF;
}

.bg-deep-purple-A200 {
    --bg-main-content: #7C4DFF;
}

.bg-deep-purple-A400 {
    --bg-main-content: #651FFF;
}

.bg-deep-purple-A700 {
    --bg-main-content: #6200EA;
}

.bg-indigo-50 {
    --bg-main-content: #E8EAF6;
}

.bg-indigo-100 {
    --bg-main-content: #C5CAE9;
}

.bg-indigo-200 {
    --bg-main-content: #9FA8DA;
}

.bg-indigo-300 {
    --bg-main-content: #7986CB;
}

.bg-indigo-400 {
    --bg-main-content: #5C6BC0;
}

.bg-indigo, .bg-indigo-500 {
    --bg-main-content: #3F51B5;
}

.bg-indigo-600 {
    --bg-main-content: #3949AB;
}

.bg-indigo-700 {
    --bg-main-content: #303F9F;
}

.bg-indigo-800 {
    --bg-main-content: #283593;
}

.bg-indigo-900 {
    --bg-main-content: #1A237E;
}

.bg-indigo-A100 {
    --bg-main-content: #8C9EFF;
}

.bg-indigo-A200 {
    --bg-main-content: #536DFE;
}

.bg-indigo-A400 {
    --bg-main-content: #3D5AFE;
}

.bg-indigo-A700 {
    --bg-main-content: #304FFE;
}

.bg-blue-50 {
    --bg-main-content: #E3F2FD;
}

.bg-blue-100 {
    --bg-main-content: #BBDEFB;
}

.bg-blue-200 {
    --bg-main-content: #90CAF9;
}

.bg-blue-300 {
    --bg-main-content: #64B5F6;
}

.bg-blue-400 {
    --bg-main-content: #42A5F5;
}

.bg-blue, .bg-blue-500 {
    --bg-main-content: #2196F3;
}

.bg-blue-600 {
    --bg-main-content: #1E88E5;
}

.bg-blue-700 {
    --bg-main-content: #1976D2;
}

.bg-blue-800 {
    --bg-main-content: #1565C0;
}

.bg-blue-900 {
    --bg-main-content: #0D47A1;
}

.bg-blue-A100 {
    --bg-main-content: #82B1FF;
}

.bg-blue-A200 {
    --bg-main-content: #448AFF;
}

.bg-blue-A400 {
    --bg-main-content: #2979FF;
}

.bg-blue-A700 {
    --bg-main-content: #2962FF;
}

.bg-light-blue-50 {
    --bg-main-content: #E1F5FE;
}

.bg-light-blue-100 {
    --bg-main-content: #B3E5FC;
}

.bg-light-blue-200 {
    --bg-main-content: #81D4FA;
}

.bg-light-blue-300 {
    --bg-main-content: #4FC3F7;
}

.bg-light-blue-400 {
    --bg-main-content: #29B6F6;
}

.bg-light-blue, .bg-light-blue-500 {
    --bg-main-content: #03A9F4;
}

.bg-light-blue-600 {
    --bg-main-content: #039BE5;
}

.bg-light-blue-700 {
    --bg-main-content: #0288D1;
}

.bg-light-blue-800 {
    --bg-main-content: #0277BD;
}

.bg-light-blue-900 {
    --bg-main-content: #01579B;
}

.bg-light-blue-A100 {
    --bg-main-content: #80D8FF;
}

.bg-light-blue-A200 {
    --bg-main-content: #40C4FF;
}

.bg-light-blue-A400 {
    --bg-main-content: #00B0FF;
}

.bg-light-blue-A700 {
    --bg-main-content: #0091EA;
}

.bg-cyan-50 {
    --bg-main-content: #E0F7FA;
}

.bg-cyan-100 {
    --bg-main-content: #B2EBF2;
}

.bg-cyan-200 {
    --bg-main-content: #80DEEA;
}

.bg-cyan-300 {
    --bg-main-content: #4DD0E1;
}

.bg-cyan-400 {
    --bg-main-content: #26C6DA;
}

.bg-cyan, .bg-cyan-500 {
    --bg-main-content: #00BCD4;
}

.bg-cyan-600 {
    --bg-main-content: #00ACC1;
}

.bg-cyan-700 {
    --bg-main-content: #0097A7;
}

.bg-cyan-800 {
    --bg-main-content: #00838F;
}

.bg-cyan-900 {
    --bg-main-content: #006064;
}

.bg-cyan-A100 {
    --bg-main-content: #84FFFF;
}

.bg-cyan-A200 {
    --bg-main-content: #18FFFF;
}

.bg-cyan-A400 {
    --bg-main-content: #00E5FF;
}

.bg-cyan-A700 {
    --bg-main-content: #00B8D4;
}

.bg-teal-50 {
    --bg-main-content: #E0F2F1;
}

.bg-teal-100 {
    --bg-main-content: #B2DFDB;
}

.bg-teal-200 {
    --bg-main-content: #80CBC4;
}

.bg-teal-300 {
    --bg-main-content: #4DB6AC;
}

.bg-teal-400 {
    --bg-main-content: #26A69A;
}

.bg-teal, .bg-teal-500 {
    --bg-main-content: #009688;
}

.bg-teal-600 {
    --bg-main-content: #00897B;
}

.bg-teal-700 {
    --bg-main-content: #00796B;
}

.bg-teal-800 {
    --bg-main-content: #00695C;
}

.bg-teal-900 {
    --bg-main-content: #004D40;
}

.bg-teal-A100 {
    --bg-main-content: #A7FFEB;
}

.bg-teal-A200 {
    --bg-main-content: #64FFDA;
}

.bg-teal-A400 {
    --bg-main-content: #1DE9B6;
}

.bg-teal-A700 {
    --bg-main-content: #00BFA5;
}

.bg-green-50 {
    --bg-main-content: #E8F5E9;
}

.bg-green-100 {
    --bg-main-content: #C8E6C9;
}

.bg-green-200 {
    --bg-main-content: #A5D6A7;
}

.bg-green-300 {
    --bg-main-content: #81C784;
}

.bg-green-400 {
    --bg-main-content: #66BB6A;
}

.bg-green, .bg-green-500 {
    --bg-main-content: #4CAF50;
}

.bg-green-600 {
    --bg-main-content: #43A047;
}

.bg-green-700 {
    --bg-main-content: #388E3C;
}

.bg-green-800 {
    --bg-main-content: #2E7D32;
}

.bg-green-900 {
    --bg-main-content: #1B5E20;
}

.bg-green-A100 {
    --bg-main-content: #B9F6CA;
}

.bg-green-A200 {
    --bg-main-content: #69F0AE;
}

.bg-green-A400 {
    --bg-main-content: #00E676;
}

.bg-green-A700 {
    --bg-main-content: #00C853;
}

.bg-light-green-50 {
    --bg-main-content: #F1F8E9;
}

.bg-light-green-100 {
    --bg-main-content: #DCEDC8;
}

.bg-light-green-200 {
    --bg-main-content: #C5E1A5;
}

.bg-light-green-300 {
    --bg-main-content: #AED581;
}

.bg-light-green-400 {
    --bg-main-content: #9CCC65;
}

.bg-light-green, .bg-light-green-500 {
    --bg-main-content: #8BC34A;
}

.bg-light-green-600 {
    --bg-main-content: #7CB342;
}

.bg-light-green-700 {
    --bg-main-content: #689F38;
}

.bg-light-green-800 {
    --bg-main-content: #558B2F;
}

.bg-light-green-900 {
    --bg-main-content: #33691E;
}

.bg-light-green-A100 {
    --bg-main-content: #CCFF90;
}

.bg-light-green-A200 {
    --bg-main-content: #B2FF59;
}

.bg-light-green-A400 {
    --bg-main-content: #76FF03;
}

.bg-light-green-A700 {
    --bg-main-content: #64DD17;
}

.bg-lime-50 {
    --bg-main-content: #F9FBE7;
}

.bg-lime-100 {
    --bg-main-content: #F0F4C3;
}

.bg-lime-200 {
    --bg-main-content: #E6EE9C;
}

.bg-lime-300 {
    --bg-main-content: #DCE775;
}

.bg-lime-400 {
    --bg-main-content: #D4E157;
}

.bg-lime, .bg-lime-500 {
    --bg-main-content: #CDDC39;
}

.bg-lime-600 {
    --bg-main-content: #C0CA33;
}

.bg-lime-700 {
    --bg-main-content: #AFB42B;
}

.bg-lime-800 {
    --bg-main-content: #9E9D24;
}

.bg-lime-900 {
    --bg-main-content: #827717;
}

.bg-lime-A100 {
    --bg-main-content: #F4FF81;
}

.bg-lime-A200 {
    --bg-main-content: #EEFF41;
}

.bg-lime-A400 {
    --bg-main-content: #C6FF00;
}

.bg-lime-A700 {
    --bg-main-content: #AEEA00;
}

.bg-yellow-50 {
    --bg-main-content: #FFFDE7;
}

.bg-yellow-100 {
    --bg-main-content: #FFF9C4;
}

.bg-yellow-200 {
    --bg-main-content: #FFF59D;
}

.bg-yellow-300 {
    --bg-main-content: #FFF176;
}

.bg-yellow-400 {
    --bg-main-content: #FFEE58;
}

.bg-yellow, .bg-yellow-500 {
    --bg-main-content: #FFEB3B;
}

.bg-yellow-600 {
    --bg-main-content: #FDD835;
}

.bg-yellow-700 {
    --bg-main-content: #FBC02D;
}

.bg-yellow-800 {
    --bg-main-content: #F9A825;
}

.bg-yellow-900 {
    --bg-main-content: #F57F17;
}

.bg-yellow-A100 {
    --bg-main-content: #FFFF8D;
}

.bg-yellow-A200 {
    --bg-main-content: #FFFF00;
}

.bg-yellow-A400 {
    --bg-main-content: #FFEA00;
}

.bg-yellow-A700 {
    --bg-main-content: #FFD600;
}

.bg-amber-50 {
    --bg-main-content: #FFF8E1;
}

.bg-amber-100 {
    --bg-main-content: #FFECB3;
}

.bg-amber-200 {
    --bg-main-content: #FFE082;
}

.bg-amber-300 {
    --bg-main-content: #FFD54F;
}

.bg-amber-400 {
    --bg-main-content: #FFCA28;
}

.bg-amber, .bg-amber-500 {
    --bg-main-content: #FFC107;
}

.bg-amber-600 {
    --bg-main-content: #FFB300;
}

.bg-amber-700 {
    --bg-main-content: #FFA000;
}

.bg-amber-800 {
    --bg-main-content: #FF8F00;
}

.bg-amber-900 {
    --bg-main-content: #FF6F00;
}

.bg-amber-A100 {
    --bg-main-content: #FFE57F;
}

.bg-amber-A200 {
    --bg-main-content: #FFD740;
}

.bg-amber-A400 {
    --bg-main-content: #FFC400;
}

.bg-amber-A700 {
    --bg-main-content: #FFAB00;
}

.bg-orange-50 {
    --bg-main-content: #FFF3E0;
}

.bg-orange-100 {
    --bg-main-content: #FFE0B2;
}

.bg-orange-200 {
    --bg-main-content: #FFCC80;
}

.bg-orange-300 {
    --bg-main-content: #FFB74D;
}

.bg-orange-400 {
    --bg-main-content: #FFA726;
}

.bg-orange, .bg-orange-500 {
    --bg-main-content: #FF9800;
}

.bg-orange-600 {
    --bg-main-content: #FB8C00;
}

.bg-orange-700 {
    --bg-main-content: #F57C00;
}

.bg-orange-800 {
    --bg-main-content: #EF6C00;
}

.bg-orange-900 {
    --bg-main-content: #E65100;
}

.bg-orange-A100 {
    --bg-main-content: #FFD180;
}

.bg-orange-A200 {
    --bg-main-content: #FFAB40;
}

.bg-orange-A400 {
    --bg-main-content: #FF9100;
}

.bg-orange-A700 {
    --bg-main-content: #FF6D00;
}

.bg-deep-orange-50 {
    --bg-main-content: #FBE9E7;
}

.bg-deep-orange-100 {
    --bg-main-content: #FFCCBC;
}

.bg-deep-orange-200 {
    --bg-main-content: #FFAB91;
}

.bg-deep-orange-300 {
    --bg-main-content: #FF8A65;
}

.bg-deep-orange-400 {
    --bg-main-content: #FF7043;
}

.bg-deep-orange, .bg-deep-orange-500 {
    --bg-main-content: #FF5722;
}

.bg-deep-orange-600 {
    --bg-main-content: #F4511E;
}

.bg-deep-orange-700 {
    --bg-main-content: #E64A19;
}

.bg-deep-orange-800 {
    --bg-main-content: #D84315;
}

.bg-deep-orange-900 {
    --bg-main-content: #BF360C;
}

.bg-deep-orange-A100 {
    --bg-main-content: #FF9E80;
}

.bg-deep-orange-A200 {
    --bg-main-content: #FF6E40;
}

.bg-deep-orange-A400 {
    --bg-main-content: #FF3D00;
}

.bg-deep-orange-A700 {
    --bg-main-content: #DD2C00;
}

.bg-brown-50 {
    --bg-main-content: #EFEBE9;
}

.bg-brown-100 {
    --bg-main-content: #D7CCC8;
}

.bg-brown-200 {
    --bg-main-content: #BCAAA4;
}

.bg-brown-300 {
    --bg-main-content: #A1887F;
}

.bg-brown-400 {
    --bg-main-content: #8D6E63;
}

.bg-brown, .bg-brown-500 {
    --bg-main-content: #795548;
}

.bg-brown-600 {
    --bg-main-content: #6D4C41;
}

.bg-brown-700 {
    --bg-main-content: #5D4037;
}

.bg-brown-800 {
    --bg-main-content: #4E342E;
}

.bg-brown-900 {
    --bg-main-content: #3E2723;
}

.bg-grey-50 {
    --bg-main-content: #FAFAFA;
}

.bg-grey-100 {
    --bg-main-content: #F5F5F5;
}

.bg-grey-200 {
    --bg-main-content: #EEEEEE;
}

.bg-grey-300 {
    --bg-main-content: #E0E0E0;
}

.bg-grey-400 {
    --bg-main-content: #BDBDBD;
}

.bg-grey, .bg-grey-500 {
    --bg-main-content: #9E9E9E;
}

.bg-grey-600 {
    --bg-main-content: #757575;
}

.bg-grey-700 {
    --bg-main-content: #616161;
}

.bg-grey-800 {
    --bg-main-content: #424242;
}

.bg-grey-900 {
    --bg-main-content: #212121;
}

.bg-blue-grey-50 {
    --bg-main-content: #ECEFF1;
}

.bg-blue-grey-100 {
    --bg-main-content: #CFD8DC;
}

.bg-blue-grey-200 {
    --bg-main-content: #B0BEC5;
}

.bg-blue-grey-300 {
    --bg-main-content: #90A4AE;
}

.bg-blue-grey-400 {
    --bg-main-content: #78909C;
}

.bg-blue-grey, .bg-blue-grey-500 {
    --bg-main-content: #607D8B;
}

.bg-blue-grey-600 {
    --bg-main-content: #546E7A;
}

.bg-blue-grey-700 {
    --bg-main-content: #455A64;
}

.bg-blue-grey-800 {
    --bg-main-content: #37474F;
}

.bg-blue-grey-900 {
    --bg-main-content: #263238;
}

.bg-black {
    --bg-main-content: #000000;
}

.bg-white {
    --bg-main-content: #FFFFFF;
}



.bg-red-50, .bg-red-100, .bg-red-200, .bg-red-300, .bg-red-A100, .bg-pink-50, .bg-pink-100, .bg-pink-200, .bg-pink-A100, .bg-purple-50, .bg-purple-100, .bg-purple-200, .bg-purple-A100, .bg-deep-purple-50, .bg-deep-purple-100, .bg-deep-purple-200, .bg-deep-purple-A100, .bg-indigo-50, .bg-indigo-100, .bg-indigo-200, .bg-indigo-A100, .bg-blue-50, .bg-blue-100, .bg-blue-200, .bg-blue-300, .bg-blue-400, .bg-blue-A100, .bg-light-blue-50, .bg-light-blue-100, .bg-light-blue-200, .bg-light-blue-300, .bg-light-blue-400, .bg-light-blue, .bg-light-blue-500, .bg-light-blue-A100, .bg-light-blue-A200, .bg-light-blue-A400, .bg-cyan-50, .bg-cyan-100, .bg-cyan-200, .bg-cyan-300, .bg-cyan-400, .bg-cyan, .bg-cyan-500, .bg-cyan-600, .bg-cyan-A100, .bg-cyan-A200, .bg-cyan-A400, .bg-cyan-A700, .bg-teal-50, .bg-teal-100, .bg-teal-200, .bg-teal-300, .bg-teal-400, .bg-teal-A100, .bg-teal-A200, .bg-teal-A400, .bg-teal-A700, .bg-green-50, .bg-green-100, .bg-green-200, .bg-green-300, .bg-green-400, .bg-green, .bg-green-500, .bg-green-A100, .bg-green-A200, .bg-green-A400, .bg-green-A700, .bg-light-green-50, .bg-light-green-100, .bg-light-green-200, .bg-light-green-300, .bg-light-green-400, .bg-light-green, .bg-light-green-500, .bg-light-green-600, .bg-light-green-A100, .bg-light-green-A200, .bg-light-green-A400, .bg-light-green-A700, .bg-lime-50, .bg-lime-100, .bg-lime-200, .bg-lime-300, .bg-lime-400, .bg-lime, .bg-lime-500, .bg-lime-600, .bg-lime-700, .bg-lime-800, .bg-lime-A100, .bg-lime-A200, .bg-lime-A400, .bg-lime-A700, .bg-yellow-50, .bg-yellow-100, .bg-yellow-200, .bg-yellow-300, .bg-yellow-400, .bg-yellow, .bg-yellow-500, .bg-yellow-600, .bg-yellow-700, .bg-yellow-800, .bg-yellow-900, .bg-yellow-A100, .bg-yellow-A200, .bg-yellow-A400, .bg-yellow-A700, .bg-amber-50, .bg-amber-100, .bg-amber-200, .bg-amber-300, .bg-amber-400, .bg-amber, .bg-amber-500, .bg-amber-600, .bg-amber-700, .bg-amber-800, .bg-amber-900, .bg-amber-A100, .bg-amber-A200, .bg-amber-A400, .bg-amber-A700, .bg-orange-50, .bg-orange-100, .bg-orange-200, .bg-orange-300, .bg-orange-400, .bg-orange, .bg-orange-500, .bg-orange-600, .bg-orange-700, .bg-orange-A100, .bg-orange-A200, .bg-orange-A400, .bg-orange-A700, .bg-deep-orange-50, .bg-deep-orange-100, .bg-deep-orange-200, .bg-deep-orange-300, .bg-deep-orange-400, .bg-deep-orange-A100, .bg-deep-orange-A200, .bg-brown-50, .bg-brown-100, .bg-brown-200, .bg-grey-50, .bg-grey-100, .bg-grey-200, .bg-grey-300, .bg-grey-400, .bg-grey, .bg-grey-500, .bg-blue-grey-50, .bg-blue-grey-100, .bg-blue-grey-200, .bg-blue-grey-300, .bg-white {
    --main-color: #000000;
    --initial-main-color: #000000;

    --opacity-hover: 0.04;
    --opacity-focus: 0.12;
    --opacity-selected: 0.08;
    --opacity-activated: 0.12;
    --opacity-pressed: 0.16;
    --opacity-dragged: 0.08;

    --initial-text-primary: rgba(0, 0, 0, 0.87);
    --initial-text-secondary: rgba(0, 0, 0, 0.6);
    --initial-text-hint: rgba(0, 0, 0, 0.38);
    --initial-text-divider: rgba(0, 0, 0, 0.12);

    --text-primary: var(--initial-text-primary);
    --text-secondary: var(--initial-text-secondary);
    --text-hint: var(--initial-text-hint);
    --text-divider: var(--initial-text-divider);

    --initial-bg-status-bar: #E0E0E0;
    --initial-bg-app-bar: #F5F5F5;
    --initial-bg-main-content: #FAFAFA;
    --initial-bg-cards: #FFFFFF;
    --initial-bg-border: rgba(0, 0, 0, 0.12);

    --bg-status-bar: var(--bg-main-content);
    --bg-app-bar: var(--bg-main-content);
    --bg-cards: var(--bg-main-content);
    --bg-border: var(--bg-main-content);

    --input: rgba(0, 0, 0, 0.04);
    --input-hover: rgba(0, 0, 0, 0.12);
    --input-focus: rgba(0, 0, 0, 0.16);
    --input-disabled: rgba(0, 0, 0, 0.02);

    --switch-rail-opacity: 0.32;
    --switch-rail-opacity-0: 0.32;
    --switch-color: #FFFFFF;

    color: var(--text-primary);
    background-color: var(--bg-cards);
    border-color: var(--bg-border);
}

.bg-red-400, .bg-red, .bg-red-500, .bg-red-600, .bg-red-700, .bg-red-800, .bg-red-900, .bg-red-A200, .bg-red-A400, .bg-red-A700, .bg-pink-300, .bg-pink-400, .bg-pink, .bg-pink-500, .bg-pink-600, .bg-pink-700, .bg-pink-800, .bg-pink-900, .bg-pink-A200, .bg-pink-A400, .bg-pink-A700, .bg-purple-300, .bg-purple-400, .bg-purple, .bg-purple-500, .bg-purple-600, .bg-purple-700, .bg-purple-800, .bg-purple-900, .bg-purple-A200, .bg-purple-A400, .bg-purple-A700, .bg-deep-purple-300, .bg-deep-purple-400, .bg-deep-purple, .bg-deep-purple-500, .bg-deep-purple-600, .bg-deep-purple-700, .bg-deep-purple-800, .bg-deep-purple-900, .bg-deep-purple-A200, .bg-deep-purple-A400, .bg-deep-purple-A700, .bg-indigo-300, .bg-indigo-400, .bg-indigo, .bg-indigo-500, .bg-indigo-600, .bg-indigo-700, .bg-indigo-800, .bg-indigo-900, .bg-indigo-A200, .bg-indigo-A400, .bg-indigo-A700, .bg-blue, .bg-blue-500, .bg-blue-600, .bg-blue-700, .bg-blue-800, .bg-blue-900, .bg-blue-A200, .bg-blue-A400, .bg-blue-A700, .bg-light-blue-600, .bg-light-blue-700, .bg-light-blue-800, .bg-light-blue-900, .bg-light-blue-A700, .bg-cyan-700, .bg-cyan-800, .bg-cyan-900, .bg-teal, .bg-teal-500, .bg-teal-600, .bg-teal-700, .bg-teal-800, .bg-teal-900, .bg-green-600, .bg-green-700, .bg-green-800, .bg-green-900, .bg-light-green-700, .bg-light-green-800, .bg-light-green-900, .bg-lime-900, .bg-orange-800, .bg-orange-900, .bg-deep-orange, .bg-deep-orange-500, .bg-deep-orange-600, .bg-deep-orange-700, .bg-deep-orange-800, .bg-deep-orange-900, .bg-deep-orange-A400, .bg-deep-orange-A700, .bg-brown-300, .bg-brown-400, .bg-brown, .bg-brown-500, .bg-brown-600, .bg-brown-700, .bg-brown-800, .bg-brown-900, .bg-grey-600, .bg-grey-700, .bg-grey-800, .bg-grey-900, .bg-blue-grey-400, .bg-blue-grey, .bg-blue-grey-500, .bg-blue-grey-600, .bg-blue-grey-700, .bg-blue-grey-800, .bg-blue-grey-900, .bg-black {
    --main-color: #FFFFFF;
    --initial-main-color: #FFFFFF;

    --opacity-hover: 0.08;
    --opacity-focus: 0.24;
    --opacity-selected: 0.16;
    --opacity-activated: 0.24;
    --opacity-pressed: 0.32;
    --opacity-dragged: 0.16;

    --initial-text-primary: rgba(255, 255, 255, 1);
    --initial-text-secondary: rgba(255, 255, 255, 0.7);
    --initial-text-hint: rgba(255, 255, 255, 0.5);
    --initial-text-divider: rgba(255, 255, 255, 0.12);

    --text-primary: var(--initial-text-primary);
    --text-secondary: var(--initial-text-secondary);
    --text-hint: var(--initial-text-hint);
    --text-divider: var(--initial-text-divider);

    --initial-bg-status-bar: #000000;
    --initial-bg-app-bar: #212121;
    --initial-bg-main-content: #303030;
    --initial-bg-cards: #424242;
    --initial-bg-border: rgba(255, 255, 255, 0.12);

    --bg-status-bar: var(--bg-main-content);
    --bg-app-bar: var(--bg-main-content);
    --bg-cards: var(--bg-main-content);
    --bg-border: var(--bg-main-content);

    --input: rgba(255, 255, 255, 0.08);
    --input-hover: rgba(255, 255, 255, 0.16);
    --input-focus: rgba(255, 255, 255, 0.24);
    --input-disabled: rgba(255, 255, 255, 0.04);

    --switch-rail-opacity: 0.38;
    --switch-rail-opacity-0: 0.38;
    --switch-color: #FAFAFA;

    color: var(--text-primary);
    background-color: var(--bg-cards);
    border-color: var(--bg-border);
}