.mdc-image-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -0.125rem;
    padding: 0;
}

.mdc-image-list .list-item {
    width: calc(100% / 5 - 0.25rem);
    margin: 0.125rem;
    position: relative;
}

.mdc-image-list .list-item .image {
    padding-top: 100%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mdc-image-list.md-ratio-hd .list-item .image {
    padding-top: 56.25%;
}