.mdc-menu-container {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 100%;
}

.mdc-menu-container.full-width {
    width: 100%;
}

.mdc-menu-container.has-error > .mdc-text-field > .hint-block,
.mdc-menu-container.has-error > .mdc-text-field > .help-block {
    color: rgb(var(--error-color));
}

.mdc-menu-container .mdc-list-container {
    background-color: rgb(var(--bg-cards));
    z-index: var(--z-axis-8-index);
    box-shadow: var(--z-axis-8-shadow);
    min-width: 7rem;
    max-width: 17.5rem;
    max-height: 15rem;
    border-radius: 0.25rem;
    overflow-x: hidden;
    overflow-y: auto;
    will-change: transform, opacity;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0;
    right: auto;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

html[dir="ltr"] .mdc-menu-container .mdc-list-container,
html[dir] .mdc-menu-container[dir="ltr"] .mdc-list-container,
html[dir="rtl"] .mdc-menu-container.reverse .mdc-list-container,
html[dir] .mdc-menu-container.reverse[dir="rtl"] .mdc-list-container {
    left: 0;
    right: auto;
}

.mdc-menu-container.reverse .mdc-list-container,
html[dir="ltr"] .mdc-menu-container.reverse .mdc-list-container,
html[dir] .mdc-menu-container.reverse[dir="ltr"] .mdc-list-container,
html[dir="rtl"] .mdc-menu-container .mdc-list-container,
html[dir] .mdc-menu-container[dir="rtl"] .mdc-list-container {
    left: auto;
    right: 0;
}

.mdc-menu-container.bottom .mdc-list-container {
    top: auto;
    bottom: 0;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

.mdc-menu-container:not(.active) .mdc-list-container {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
}

.mdc-menu-container.select-menu > .menu-button {
    background: transparent;
    padding: 0;
    text-align: inherit;
    text-align: unset;
}

.mdc-menu-container.select-menu .mdc-list-container {
    min-width: 100%;
}

.mdc-menu-container.select-menu:not(.bottom) .mdc-list-container {
    top: 4.5625rem;
}

.mdc-menu-container.select-menu:not(.bottom) > .mdc-text-field.outlined + .mdc-list-container {
    margin-top: 0.0625rem;
}

.mdc-menu-container > .mdc-list-container .mdc-list-item.selected::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: all 0.2s;
    background-color: rgb(var(--foreground-color));
    opacity: var(--opacity-hover);
}

.mdc-menu-container .mdc-list-container > .mdc-list-group + .mdc-list-group {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: solid 0.0625rem rgba(var(--foreground-color), var(--opacity-divider));
}

.mdc-menu-container > .mdc-text-field > .material-icon.trailing {
    will-change: transform;
    transition: transform 365ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mdc-menu-container > .mdc-text-field.active > .material-icon.trailing,
html[dir="ltr"] .mdc-menu-container > .mdc-text-field.active > .material-icon.trailing,
html[dir] .mdc-menu-container[dir="ltr"] > .mdc-text-field.active > .material-icon.trailing {
    transform: rotate(-180deg);
}

html[dir="rtl"] .mdc-menu-container > .mdc-text-field.active > .material-icon.trailing,
html[dir] .mdc-menu-container[dir="rtl"] > .mdc-text-field.active > .material-icon.trailing {
    transform: rotate(180deg);
}

.mdc-menu-container .mdc-list-container .mdc-list-item.mdc-error-message {
    display: none;
}