.mdc-text-field {
    will-change: transform, opacity;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    min-height: 3.5rem;
    margin: 1rem 0 0.5rem;
    width: 17.5rem;
    max-width: 100%;
}

.mdc-text-field::after {
    content: '';
    position: absolute;
    top: 3.375rem;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: var(--bg-border);
    will-change: transform;

    transform: scale(0);
    transition: transform 0.15s cubic-bezier(0.4,0,.2,1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.mdc-text-field.active::after {
    transform: scale(1);
}

.mdc-text-field > .input {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
    text-decoration: inherit;
    text-transform: inherit;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 3.5rem;
    padding: 1.25rem 0.75rem 0;
    border: none;
    border-bottom: 0.0625rem solid var(--initial-text-hint);
    border-radius: 0.25rem 0.25rem 0 0;
    background: none;
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-color: var(--input);
    color: var(--initial-text-primary);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    will-change: background-color;

    -webkit-transition: background-color 0.15s cubic-bezier(0.4,0,.2,1);
    -o-transition: background-color 0.15s cubic-bezier(0.4,0,.2,1);
    transition: background-color 0.15s cubic-bezier(0.4,0,.2,1);
}

.mdc-text-field > .input:hover {
    background-color: var(--input-hover);
    border-bottom-color: var(--initial-text-secondary);
}

.mdc-text-field > .input:active {
    background-color: var(--input-focus);
}

.mdc-text-field.active > .input {
    background-color: var(--input);
}

.mdc-text-field > div.input {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mdc-text-field > .label {
    font-size: 1rem;
    letter-spacing: 0.03125rem;
    text-decoration: inherit;
    text-transform: inherit;
    position: absolute;
    top: 1.125rem;
    left: 0.75rem;
    right: auto;
    cursor: text;
    width: calc(100% - 1.5rem);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    overflow: hidden;
    line-height: 1.15rem;
    color: var(--initial-text-secondary);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    will-change: transform;

    transition: transform 0.15s cubic-bezier(0.4,0,.2,1), color 0.15s cubic-bezier(0.4,0,.2,1);
}

html[dir="ltr"] .mdc-text-field > .label,
html[dir] *[dir="ltr"] .mdc-text-field > .label,
html[dir] *[dir] .mdc-text-field[dir="ltr"] > .label {
    left: 0.75rem;
    right: auto;

    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

html[dir="rtl"] .mdc-text-field > .label,
html[dir] *[dir="rtl"] .mdc-text-field > .label,
html[dir] *[dir] .mdc-text-field[dir="rtl"] > .label {
    left: auto;
    right: 0.75rem;

    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
}

.mdc-text-field.active > .input + .label {
    color: var(--text-primary);
    transform: translateY(-50%) scale(0.75);
}

.mdc-text-field.focus > .input + .label {
    transform: translateY(-50%) scale(0.75);
}

.mdc-text-field > .input[disabled], .mdc-text-field > .input:disabled {
    background-color: var(--input-disabled);
    color: var(--initial-text-secondary);
    border-bottom-color: var(--initial-text-divider);
}

.mdc-text-field > .input[disabled] + .label, .mdc-text-field > .input:disabled + .label {
    color: var(--initial-text-hint);
}

.mdc-text-field > .icon {
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    right: auto;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--initial-text-secondary);
    cursor: default;
    pointer-events: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

html[dir="ltr"] .mdc-text-field > .icon,
html[dir] *[dir="ltr"] .mdc-text-field > .icon,
html[dir] *[dir] .mdc-text-field[dir="ltr"] > .icon {
    left: 0.75rem;
    right: auto;
}

html[dir="rtl"] .mdc-text-field > .icon,
html[dir] *[dir="rtl"] .mdc-text-field > .icon,
html[dir] *[dir] .mdc-text-field[dir="rtl"] > .icon {
    left: auto;
    right: 0.75rem;
}

.mdc-text-field > .icon + .input {
    padding: 1.25rem 0.75rem 0 3rem;
    width: 19.5rem;
}

.mdc-text-field > .icon + .input + .label {
    left: 3rem;
    right: auto;
    width: calc(100% - 3.75rem);
}

html[dir="ltr"] .mdc-text-field > .icon + .input + .label,
html[dir] *[dir="ltr"] .mdc-text-field > .icon + .input + .label,
html[dir] *[dir] .mdc-text-field[dir="ltr"] > .icon + .input + .label {
    left: 3rem;
    right: auto;
}

html[dir="rtl"] .mdc-text-field > .icon + .input + .label,
html[dir] *[dir="rtl"] .mdc-text-field > .icon + .input + .label,
html[dir] *[dir] .mdc-text-field[dir="rtl"] > .icon + .input + .label {
    left: auto;
    right: 3rem;
}

.mdc-text-field > .icon.trailing {
    left: auto;
    right: 0.75rem;
}

html[dir="rtl"] .mdc-text-field > .icon + .input,
html[dir] *[dir="rtl"] .mdc-text-field > .icon + .input,
html[dir] *[dir] .mdc-text-field[dir="rtl"] > .icon + .input,
.mdc-text-field > .icon.trailing + .input,
html[dir="ltr"] .mdc-text-field > .icon.trailing + .input,
html[dir] *[dir="ltr"] .mdc-text-field > .icon.trailing + .input,
html[dir] *[dir] .mdc-text-field[dir="ltr"] > .icon.trailing + .input {
    padding: 1.25rem 3rem 0 0.75rem;
}

html[dir="ltr"] .mdc-text-field > .icon + .input,
html[dir] *[dir="ltr"] .mdc-text-field > .icon + .input,
html[dir] *[dir] .mdc-text-field[dir="ltr"] > .icon + .input,
html[dir="rtl"] .mdc-text-field > .icon.trailing + .input,
html[dir] *[dir="rtl"] .mdc-text-field > .icon.trailing + .input,
html[dir] *[dir] .mdc-text-field[dir="rtl"] > .icon.trailing + .input {
    padding: 1.25rem 0.75rem 0 3rem;
}

.mdc-text-field > .icon.trailing + .input + .label {
    left: 0.75rem;
    right: auto;
}

html[dir="rtl"] .mdc-text-field > .icon.trailing,
html[dir] *[dir="rtl"] .mdc-text-field > .icon.trailing,
html[dir] *[dir] .mdc-text-field[dir="rtl"] > .icon.trailing,
html[dir="ltr"] .mdc-text-field > .icon.trailing + .input + .label,
html[dir] *[dir="ltr"] .mdc-text-field > .icon.trailing + .input + .label,
html[dir] *[dir] .mdc-text-field[dir="ltr"] > .icon.trailing + .input + .label {
    left: 0.75rem;
    right: auto;
}

html[dir="ltr"] .mdc-text-field > .icon.trailing,
html[dir] *[dir="ltr"] .mdc-text-field > .icon.trailing,
html[dir] *[dir] .mdc-text-field[dir="ltr"] > .icon.trailing,
html[dir="rtl"] .mdc-text-field > .icon.trailing + .input + .label,
html[dir] *[dir="rtl"] .mdc-text-field > .icon.trailing + .input + .label,
html[dir] *[dir] .mdc-text-field[dir="rtl"] > .icon.trailing + .input + .label {
    left: auto;
    right: 0.75rem;
}

.mdc-text-field > .help-block {
    padding: 0.0625rem 0.75rem 0;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.033333em;
    color: var(--initial-text-hint);
    cursor: default;
    pointer-events: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.mdc-text-field.standard::after {
    top: 3.0625rem;
}

.mdc-text-field.standard > .input {
    padding-left: 0;
    padding-right: 0;
    min-height: 3.1875rem;
    background-color: transparent;
    border-radius: 0;
}

.mdc-text-field.standard > .label {
    top: 1.625rem;
    right: auto;
    left: auto;
}

html[dir="ltr"] .mdc-text-field.standard > .label,
html[dir] *[dir="ltr"] .mdc-text-field.standard > .label,
html[dir] *[dir] .mdc-text-field.standard[dir="ltr"] > .label,
html[dir="rtl"] .mdc-text-field.standard > .label,
html[dir] *[dir="rtl"] .mdc-text-field.standard > .label,
html[dir] *[dir] .mdc-text-field.standard[dir="rtl"] > .label {
    right: auto;
    left: auto;
}

.mdc-text-field.standard.active > .input + .label,
.mdc-text-field.standard.focus > .input + .label {
    transform: translateY(-100%) scale(0.75);
}

.mdc-text-field.standard > .icon {
    top: 1.4375rem;
    left: 0;
    right: auto;
}

html[dir="ltr"] .mdc-text-field.standard > .icon,
html[dir] *[dir="ltr"] .mdc-text-field.standard > .icon,
html[dir] *[dir] .mdc-text-field.standard[dir="ltr"] > .icon {
    left: 0;
    right: auto;
}

html[dir="rtl"] .mdc-text-field.standard > .icon,
html[dir] *[dir="rtl"] .mdc-text-field.standard > .icon,
html[dir] *[dir] .mdc-text-field.standard[dir="rtl"] > .icon {
    left: auto;
    right: 0;
}

.mdc-text-field.standard > .icon + .input {
    padding: 1.25rem 0 0 2.25rem;
    width: 18rem;
}

.mdc-text-field.standard > .icon + .input + .label {
    left: 2.25rem;
    right: auto;
    width: calc(100% - 2.25rem);
}

html[dir="ltr"] .mdc-text-field.standard > .icon + .input + .label,
html[dir] *[dir="ltr"] .mdc-text-field.standard > .icon + .input + .label,
html[dir] *[dir] .mdc-text-field.standard[dir="ltr"] > .icon + .input + .label {
    left: 2.25rem;
    right: auto;
}

html[dir="rtl"] .mdc-text-field.standard > .icon + .input + .label,
html[dir] *[dir="rtl"] .mdc-text-field.standard > .icon + .input + .label,
html[dir] *[dir] .mdc-text-field.standard[dir="rtl"] > .icon + .input + .label {
    left: auto;
    right: 2.25rem;
}

.mdc-text-field.standard > .icon.trailing {
    left: auto;
    right: 0;
}

html[dir="rtl"] .mdc-text-field.standard > .icon + .input,
html[dir] *[dir="rtl"] .mdc-text-field.standard > .icon + .input,
html[dir] *[dir] .mdc-text-field.standard[dir="rtl"] > .icon + .input,
.mdc-text-field.standard > .icon.trailing + .input,
html[dir="ltr"] .mdc-text-field.standard > .icon.trailing + .input,
html[dir] *[dir="ltr"] .mdc-text-field.standard > .icon.trailing + .input,
html[dir] *[dir] .mdc-text-field.standard[dir="ltr"] > .icon.trailing + .input {
    padding: 1.25rem 2.25rem 0 0;
}

html[dir="ltr"] .mdc-text-field.standard > .icon + .input,
html[dir] *[dir="ltr"] .mdc-text-field.standard > .icon + .input,
html[dir] *[dir] .mdc-text-field.standard[dir="ltr"] > .icon + .input,
html[dir="rtl"] .mdc-text-field.standard > .icon.trailing + .input,
html[dir] *[dir="rtl"] .mdc-text-field.standard > .icon.trailing + .input,
html[dir] *[dir] .mdc-text-field.standard[dir="rtl"] > .icon.trailing + .input {
    padding: 1.25rem 0 0 2.25rem;
}

.mdc-text-field.standard > .icon.trailing + .input + .label {
    left: 0;
    right: auto;
}

html[dir="rtl"] .mdc-text-field.standard > .icon.trailing,
html[dir] *[dir="rtl"] .mdc-text-field.standard > .icon.trailing,
html[dir] *[dir] .mdc-text-field.standard[dir="rtl"] > .icon.trailing,
html[dir="ltr"] .mdc-text-field.standard > .icon.trailing + .input + .label,
html[dir] *[dir="ltr"] .mdc-text-field.standard > .icon.trailing + .input + .label,
html[dir] *[dir] .mdc-text-field.standard[dir="ltr"] > .icon.trailing + .input + .label {
    left: 0;
    right: auto;
}

html[dir="ltr"] .mdc-text-field.standard > .icon.trailing,
html[dir] *[dir="ltr"] .mdc-text-field.standard > .icon.trailing,
html[dir] *[dir] .mdc-text-field.standard[dir="ltr"] > .icon.trailing,
html[dir="rtl"] .mdc-text-field.standard > .icon.trailing + .input + .label,
html[dir] *[dir="rtl"] .mdc-text-field.standard > .icon.trailing + .input + .label,
html[dir] *[dir] .mdc-text-field.standard[dir="rtl"] > .icon.trailing + .input + .label {
    left: auto;
    right: 0;
}

.mdc-text-field.standard > .help-block {
    padding: 0.0625rem 0 0;
}

.mdc-text-field.outlined::after {
    display: none;
}

.mdc-text-field.outlined > .input {
    background-color: transparent;
    border: 0.0625rem solid var(--initial-text-hint);
    border-radius: 0.25rem;
    padding: 0.75rem 0.8125rem;
    will-change: border-color;
    transition: border-color 0.15s cubic-bezier(0.4,0,.2,1);
}

.mdc-text-field.outlined > .icon + .input,
html[dir="ltr"] .mdc-text-field.outlined > .icon + .input,
html[dir] *[dir="ltr"] .mdc-text-field.outlined > .icon + .input,
html[dir] *[dir] .mdc-text-field.outlined[dir="ltr"] > .icon + .input,
html[dir="rtl"] .mdc-text-field.outlined > .icon.trailing + .input,
html[dir] *[dir="rtl"] .mdc-text-field.outlined > .icon.trailing + .input,
html[dir] *[dir] .mdc-text-field.outlined[dir="rtl"] > .icon.trailing + .input {
    padding: 0.75rem 0.75rem 0.75rem 2.9375rem;
}

html[dir="rtl"] .mdc-text-field.outlined > .icon + .input,
html[dir] *[dir="rtl"] .mdc-text-field.outlined > .icon + .input,
html[dir] *[dir] .mdc-text-field.outlined[dir="rtl"] > .icon + .input,
.mdc-text-field.outlined > .icon.trailing + .input,
html[dir="ltr"] .mdc-text-field.outlined > .icon.trailing + .input,
html[dir] *[dir="ltr"] .mdc-text-field.outlined > .icon.trailing + .input,
html[dir] *[dir] .mdc-text-field.outlined[dir="ltr"] > .icon.trailing + .input {
    padding: 0.75rem 2.9375rem 0.75rem 0.75rem;
}

.mdc-text-field.outlined > .input:hover {
    border-color: var(--initial-text-secondary);
}

.mdc-text-field.outlined.active > .input,
.mdc-text-field.outlined.focus > .input {
    border-color: transparent;
}

.mdc-text-field.outlined > .label {
    width: auto;
    max-width: calc(100% - 1.625rem);
    left: 0.8125rem;
    right: auto;
    will-change: transform, color, left, right;
    transition: transform 0.15s cubic-bezier(0.4,0,.2,1), color 0.15s cubic-bezier(0.4,0,.2,1), left 0.15s, right 0.15s;
}

.mdc-text-field.outlined > .icon + .input + .label {
    width: auto;
}

html[dir="ltr"] .mdc-text-field.outlined > .label,
html[dir] *[dir="ltr"] .mdc-text-field.outlined > .label,
html[dir] *[dir] .mdc-text-field.outlined[dir="ltr"] > .label,
.mdc-text-field.outlined.active > .icon + .input + .label,
html[dir="ltr"] .mdc-text-field.outlined.active > .icon + .input + .label,
html[dir] *[dir="ltr"] .mdc-text-field.outlined.active > .icon + .input + .label,
html[dir] *[dir] .mdc-text-field.outlined.active[dir="ltr"] > .icon + .input + .label,
.mdc-text-field.outlined.focus > .icon + .input + .label,
html[dir="ltr"] .mdc-text-field.outlined.focus > .icon + .input + .label,
html[dir] *[dir="ltr"] .mdc-text-field.outlined.focus > .icon + .input + .label,
html[dir] *[dir] .mdc-text-field.outlined.focus[dir="ltr"] > .icon + .input + .label,
.mdc-text-field.outlined > .icon.trailing + .input + .label,
html[dir="ltr"] .mdc-text-field.outlined > .icon.trailing + .input + .label,
html[dir] *[dir="ltr"] .mdc-text-field.outlined > .icon.trailing + .input + .label,
html[dir] *[dir] .mdc-text-field.outlined[dir="ltr"] > .icon.trailing + .input + .label {
    left: 0.8125rem;
    right: auto;
}

html[dir="rtl"] .mdc-text-field.outlined > .label,
html[dir] *[dir="rtl"] .mdc-text-field.outlined > .label,
html[dir] *[dir] .mdc-text-field.outlined[dir="rtl"] > .label,
html[dir="rtl"] .mdc-text-field.outlined.active > .icon + .input + .label,
html[dir] *[dir="rtl"] .mdc-text-field.outlined.active > .icon + .input + .label,
html[dir] *[dir] .mdc-text-field.outlined.active[dir="rtl"] > .icon + .input + .label,
html[dir="rtl"] .mdc-text-field.outlined.focus > .icon + .input + .label,
html[dir] *[dir="rtl"] .mdc-text-field.outlined.focus > .icon + .input + .label,
html[dir] *[dir] .mdc-text-field.outlined.focus[dir="rtl"] > .icon + .input + .label,
.mdc-text-field.outlined > .icon.trailing + .input + .label,
html[dir="rtl"] .mdc-text-field.outlined > .icon.trailing + .input + .label,
html[dir] *[dir="rtl"] .mdc-text-field.outlined > .icon.trailing + .input + .label,
html[dir] *[dir] .mdc-text-field.outlined[dir="rtl"] > .icon.trailing + .input + .label {
    left: auto;
    right: 0.8125rem;
}

.mdc-text-field.outlined.active > .input + .label,
.mdc-text-field.outlined.focus > .input + .label {
    transform: translateY(-140%) scale(0.75);
}

.mdc-text-field.outlined > .outline {
    position: absolute;
    top: 0;
    left: 0.0625rem;
    right: 0.0625rem;
    height: 3.5rem;
    margin: 0 0.5rem;
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.15s cubic-bezier(0.4,0,.2,1);
    border-bottom: solid 0.0625rem var(--initial-text-hint);
}

.mdc-text-field.outlined.active > .outline {
    top: -0.0625rem;
    left: -0.0625rem;
    right: -0.0625rem;
    height: 3.625rem;
    margin: 0 0.625rem;
    border-bottom: solid 0.125rem var(--initial-text-hint);
    opacity: 1;
}

.mdc-text-field.outlined.focus > .outline {
    opacity: 1;
}

.mdc-text-field.outlined > .outline::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.5rem;
    bottom: -0.0625rem;
    width: 0.4375rem;
    border-radius: 0.25rem 0 0 0.25rem;
    border: solid 0.0625rem var(--initial-text-hint);
    border-right: none;
}

.mdc-text-field.outlined.active > .outline::before {
    left: -0.625rem;
    bottom: -0.125rem;
    width: 0.5rem;
    border: solid 0.125rem var(--initial-text-hint);
    border-right: none;
}

.mdc-text-field.outlined > .outline::after {
    content: '';
    position: absolute;
    top: 0;
    right: -0.5rem;
    bottom: -0.0625rem;
    width: 0.4375rem;
    border-radius: 0 0.25rem 0.25rem 0;
    border: solid 0.0625rem var(--initial-text-hint);
    border-left: none;
}

.mdc-text-field.outlined.active > .outline::after {
    right: -0.625rem;
    bottom: -0.125rem;
    width: 0.5rem;
    border: solid 0.125rem var(--initial-text-hint);
    border-left: none;
}

.mdc-text-field.outlined > .outline > .top {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 100%;
    border-top: solid 0.0625rem var(--initial-text-hint);
}

.mdc-text-field.outlined.active > .outline > .top {
    border-top: solid 0.125rem var(--initial-text-hint);
}

html[dir="ltr"] .mdc-text-field.outlined > .outline > .top,
html[dir] *[dir="ltr"] .mdc-text-field.outlined > .outline > .top,
html[dir] *[dir] .mdc-text-field.outlined[dir="ltr"] > .outline > .top {
    left: auto;
    right: 0;
}

html[dir="rtl"] .mdc-text-field.outlined > .outline > .top,
html[dir] *[dir="rtl"] .mdc-text-field.outlined > .outline > .top,
html[dir] *[dir] .mdc-text-field.outlined[dir="rtl"] > .outline > .top {
    left: 0;
    right: auto;
}

.mdc-text-field.outlined > .input:hover + .label + .outline,
.mdc-text-field.outlined > .input:hover + .label + .outline > .top,
.mdc-text-field.outlined > .input:hover + .label + .outline::before,
.mdc-text-field.outlined > .input:hover + .label + .outline::after {
    border-color: var(--initial-text-secondary);
}

.mdc-text-field.outlined.active > .input + .label + .outline,
.mdc-text-field.outlined.active > .input + .label + .outline > .top,
.mdc-text-field.outlined.active > .input + .label + .outline::before,
.mdc-text-field.outlined.active > .input + .label + .outline::after {
    border-color: var(--bg-border);
}

.mdc-text-field:not(.focus) > .input:hover[disabled],
.mdc-text-field:not(.focus) > .input[disabled],
.mdc-text-field > .input[disabled] + .label + .outline,
.mdc-text-field > .input[disabled] + .label + .outline > .top,
.mdc-text-field > .input[disabled] + .label + .outline::before,
.mdc-text-field > .input[disabled] + .label + .outline::after,
.mdc-text-field:not(.focus) > .input:hover:disabled,
.mdc-text-field:not(.focus) > .input:disabled,
.mdc-text-field > .input:disabled + .label + .outline,
.mdc-text-field > .input:disabled + .label + .outline > .top,
.mdc-text-field > .input:disabled + .label + .outline::before,
.mdc-text-field > .input:disabled + .label + .outline::after {
    border-color: var(--initial-text-divider) !important;
}