#mdc-nav-drawer {
    min-width: 16rem;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--bg-main-content);
    z-index: var(--z-axis-16-index);
    border-right: solid 0.0625rem var(--bg-border);
    transition: all 0.3s;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

html[dir="ltr"] #mdc-nav-drawer {
    border-left: none;
    border-right: solid 0.0625rem var(--bg-border);
}

html[dir="rtl"] #mdc-nav-drawer {
    border-left: solid 0.0625rem var(--bg-border);
    border-right: none;
}

#mdc-nav-drawer .header {
    padding: 1rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mdc-nav-drawer.fixed-header .header {
    border-bottom: solid 0.0625rem var(--initial-bg-border);
}

#mdc-nav-drawer .header > .title {
    display: block;
    font-size: 1.25rem;
    letter-spacing: 0.0075em;
    font-weight: 500;
    line-height: 2rem;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#mdc-nav-drawer .header > .subtext {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    text-align: initial;
    text-decoration: none;
    line-height: 1.5;
    font-size: 0.875rem;
    letter-spacing: 0.007143em;
    font-weight: 500;
    color: var(--text-secondary);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#mdc-nav-drawer .header > a.subtext,
#mdc-nav-drawer .header > button.subtext {
    cursor: pointer;
}

#mdc-nav-drawer.fixed-header .mdc-list-container {
    -ms-flex: 0 0 auto;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#mdc-nav-drawer a.mdc-list-item:not(.active) {
    --text-primary: var(--initial-text-primary);
    --text-secondary: var(--initial-text-secondary);
    --text-hint: var(--initial-text-hint);
    --text-divider: var(--initial-text-divider);
}

#mdc-nav-drawer .mdc-list-container:not(.standard) .mdc-list-item::before {
    top: 0.25rem;
    right: 0.5rem;
    bottom: 0.25rem;
    left: 0.5rem;
    border-radius: 0.25rem;
}

#mdc-nav-drawer .mdc-list-container:not(.standard) > .mdc-list-item.active::before,
#mdc-nav-drawer .mdc-list-container:not(.standard) > .mdc-list-group > .mdc-list-item.active::before,
#mdc-nav-drawer .mdc-list-container.standard .mdc-list-group.expanded > .mdc-list-item::before {
    background-color: var(--main-color);
    opacity: var(--opacity-activated);
}

#mdc-nav-drawer .mdc-list-container:not(.standard) .mdc-list-group {
    border: none;
}

#mdc-nav-drawer .mdc-list-group.expanded > .mdc-list-item:hover::before {
    background-color: var(--initial-main-color);
    opacity: var(--opacity-hover);
}

#mdc-nav-drawer .mdc-list-group.expanded > .mdc-list-item:active::before {
    background-color: var(--initial-main-color);
    opacity: var(--opacity-pressed);
}

#mdc-nav-drawer .mdc-list-group.expanded > .mdc-list-item:focus::before {
    background-color: var(--initial-main-color);
    opacity: var(--opacity-focus);
}

#mdc-nav-drawer .mdc-list-group > .mdc-dropdown > .mdc-list-item:not(.active) {
    color: var(--text-secondary);
}

#mdc-nav-drawer.modal {
    width: calc(100% - 3.5rem);
    max-width: 20rem;
    left: -20rem;
    right: auto;
    z-index: var(--z-axis-16-index);
}

html[dir="ltr"] #mdc-nav-drawer.modal {
    left: -20rem;
    right: auto;
}

html[dir="rtl"] #mdc-nav-drawer.modal {
    left: auto;
    right: -20rem;
}

body {
    transition: margin 0.3s;
}

body.mdc-drawer-modal {
    overflow: hidden;
}

body.mdc-drawer-modal > #mdc-nav-drawer.modal {
    left: 0;
    box-shadow: var(--z-axis-16-shadow);
}

html[dir="ltr"] body.mdc-drawer-modal > #mdc-nav-drawer.modal {
    left: 0;
    right: auto;
}

html[dir="rtl"] body.mdc-drawer-modal > #mdc-nav-drawer.modal {
    left: auto;
    right: 0;
}

.mdc-drawer-scrim {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    z-index: calc(var(--z-axis-16-index) - 1);
}

body.mdc-drawer-modal > #mdc-nav-drawer.modal + .mdc-drawer-scrim {
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

#mdc-nav-drawer.persistent {
    width: 16rem;
    left: -16rem;
    right: auto;
    z-index: var(--z-axis-16-index);
}

html[dir="ltr"] #mdc-nav-drawer.persistent {
    left: -16rem;
    right: auto;
}

html[dir="rtl"] #mdc-nav-drawer.persistent {
    left: auto;
    right: -16rem;
}

body.mdc-drawer-expand > #mdc-nav-drawer.persistent {
    left: 0;
}

html[dir="ltr"] body.mdc-drawer-expand > #mdc-nav-drawer.persistent {
    left: 0;
    right: auto;
}

html[dir="rtl"] body.mdc-drawer-expand > #mdc-nav-drawer.persistent {
    left: auto;
    right: 0;
}

#mdc-nav-drawer.permanent {
    width: 16rem;
    left: 0;
    right: auto;
    z-index: var(--z-axis-16-index);
}

html[dir="ltr"] #mdc-nav-drawer.permanent {
    left: 0;
    right: auto;
}

html[dir="rtl"] #mdc-nav-drawer.permanent {
    left: auto;
    right: 0;
}

body:not(.mdc-top-app-bar-hidden) > #mdc-nav-drawer.clipped:not(.modal) {
    margin-top: 4rem;
    z-index: var(--z-axis-0-index);
}

body.mdc-drawer-expand > #mdc-nav-drawer:not(.clipped) + .mdc-drawer-scrim + #mdc-top-app-bar {
    margin-left: 16rem;
}

html[dir="ltr"] body.mdc-drawer-expand > #mdc-nav-drawer:not(.clipped) + .mdc-drawer-scrim + #mdc-top-app-bar {
    margin-left: 16rem;
    margin-right: 0;
}

html[dir="rtl"] body.mdc-drawer-expand > #mdc-nav-drawer:not(.clipped) + .mdc-drawer-scrim + #mdc-top-app-bar {
    margin-left: 0;
    margin-right: 16rem;
}

#mdc-nav-drawer.permanent + .mdc-drawer-scrim + #mdc-top-app-bar > .nav-icon {
    display: none;
}

@media (min-width: 960px) {
    html:not([dir]) body.mdc-drawer-expand,
    html[dir="ltr"] body.mdc-drawer-expand {
        margin-left: 16rem !important;
        margin-right: 0;
    }

    html[dir="rtl"] body.mdc-drawer-expand {
        margin-left: 0;
        margin-right: 16rem !important;
    }
}

@media (max-width: 959px) {
    #mdc-nav-drawer.persistent,
    #mdc-nav-drawer.permanent {
        width: calc(100% - 3.5rem);
        max-width: 20rem;
        left: -20rem;
        right: auto;
        z-index: var(--z-axis-16-index);
    }

    html[dir="ltr"] #mdc-nav-drawer.persistent,
    html[dir="ltr"] #mdc-nav-drawer.permanent {
        left: -20rem;
        right: auto;
    }

    html[dir="rtl"] #mdc-nav-drawer.persistent,
    html[dir="rtl"] #mdc-nav-drawer.permanent {
        left: auto;
        right: -20rem;
    }

    #mdc-nav-drawer.active.persistent,
    #mdc-nav-drawer.active.permanent {
        left: 0;
        box-shadow: var(--z-axis-16-shadow);
    }

    html[dir="ltr"] #mdc-nav-drawer.active.persistent,
    html[dir="ltr"] #mdc-nav-drawer.active.permanent {
        left: 0;
        right: auto;
    }

    html[dir="rtl"] #mdc-nav-drawer.active.persistent,
    html[dir="rtl"] #mdc-nav-drawer.active.permanent {
        left: auto;
        right: 0;
    }

    #mdc-nav-drawer.active.persistent + .mdc-drawer-scrim,
    #mdc-nav-drawer.active.permanent + .mdc-drawer-scrim {
        visibility: visible;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
    }

    body:not(.mdc-top-app-bar-hidden) > #mdc-nav-drawer.clipped:not(.modal) {
        margin-top: 0;
        z-index: var(--z-axis-16-index);
    }

    body.mdc-drawer-expand > #mdc-nav-drawer:not(.clipped) + .mdc-drawer-scrim + #mdc-top-app-bar,
    html[dir] body.mdc-drawer-expand > #mdc-nav-drawer:not(.clipped) + .mdc-drawer-scrim + #mdc-top-app-bar {
        margin: 0;
    }

    #mdc-nav-drawer.permanent + .mdc-drawer-scrim + #mdc-top-app-bar > .nav-icon {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}