#mdc-banners {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--bg-cards);
    border-bottom: solid 0.0625rem var(--bg-border);
    z-index: 10;
}

body.mdc-drawer-expand #mdc-banners,
html[dir="ltr"] body.mdc-drawer-expand #mdc-banners,
html[dir] body.mdc-drawer-expand #mdc-banners[dir="ltr"] {
    margin-left: 16rem;
    margin-right: 0;
}

html[dir="rtl"] body.mdc-drawer-expand #mdc-banners,
html[dir] body.mdc-drawer-expand #mdc-banners[dir="rtl"] {
    margin-left: 0;
    margin-right: 16rem;
}

#mdc-banners .mdc-banner {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    pointer-events: all;
    will-change: opacity, visibility, transform;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                visibility 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mdc-banners .mdc-banner .text {
    width: 100%;
    font-size: 0.875rem;
    letter-spacing: 0.017857em;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 1rem 0;
    color: var(--text-secondary);
}

#mdc-banners .mdc-banner .mdc-button-group {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 0;
    margin: 0.5rem -0.25rem;
}

@media (max-width: 44.9375rem) {
    
}

@media (max-width: 719px) {
    body.mdc-drawer-expand #mdc-banners,
    html[dir="ltr"] body.mdc-drawer-expand #mdc-banners,
    html[dir] body.mdc-drawer-expand #mdc-banners[dir="ltr"],
    html[dir="rtl"] body.mdc-drawer-expand #mdc-banners,
    html[dir] body.mdc-drawer-expand #mdc-banners[dir="rtl"] {
        margin-left: 0;
        margin-right: 0;
    }

    #mdc-banners .mdc-banner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}