a.mdc-button, button.mdc-button, .mdc-button {
    border: none;
    outline: none;
    border-radius: 0.25rem;
    min-width: 4rem;
    height: 2.25rem;
    color: var(--text-primary);
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: 0.08929em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0.5rem;
    overflow: hidden;
    vertical-align: middle;
    transition: all 0.2s;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.mdc-button > .material-icon {
    margin-left: 0;
    margin-right: 0.5rem;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
    vertical-align: middle;
}

html[dir="ltr"] .mdc-button > .material-icon,
html[dir] .mdc-button[dir="ltr"] > .material-icon {
    margin-left: 0;
    margin-right: 0.5rem;
}

html[dir="rtl"] .mdc-button > .material-icon,
html[dir] .mdc-button[dir="rtl"] > .material-icon {
    margin-left: 0.5rem;
    margin-right: 0;
}

.mdc-button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: all 0.2s;
    background-color: var(--main-color);
    opacity: 0;
}

.mdc-button:hover:before {
    opacity: var(--opacity-hover);
}

.mdc-button:focus:before {
    opacity: var(--opacity-focus);
}

.mdc-button:active:before {
    opacity: var(--opacity-pressed);
}

.mdc-button.disabled, .mdc-button[disabled], .mdc-button:disabled {
    --initial-text-hint: inherit;
    --initial-text-divider: inherit;

    cursor: default;
    color: var(--initial-text-hint);
}

.mdc-button.disabled[class*="bg-"], .mdc-button[class*="bg-"][disabled], .mdc-button[class*="bg-"]:disabled {
    background-color: var(--initial-text-divider);
}

.mdc-button.disabled:before, .mdc-button[disabled]:before, .mdc-button:disabled:before {
    display: none;
}

.mdc-button.disabled > .material-icon, .mdc-button[disabled] > .material-icon, .mdc-button:disabled > .material-icon {
    color: var(--initial-text-hint);
}

.mdc-button.btn-outlined, .mdc-button.btn-contained, .mdc-button[class*="bg-"] {
    padding: 0 1rem;
}

.mdc-button.btn-outlined > .material-icon, .mdc-button.btn-contained > .material-icon, .mdc-button[class*="bg-"] > .material-icon {
    margin-left: -0.25rem;
}

html[dir="ltr"] .mdc-button.btn-outlined > .material-icon,
html[dir="ltr"] .mdc-button.btn-contained > .material-icon,
html[dir="ltr"] .mdc-button[class*="bg-"] > .material-icon,
html[dir] .mdc-button.btn-outlined[dir="ltr"] > .material-icon,
html[dir] .mdc-button.btn-contained[dir="ltr"] > .material-icon,
html[dir] .mdc-button[class*="bg-"][dir="ltr"] > .material-icon {
    margin-left: -0.25rem;
    margin-right: 0.5rem;
}

html[dir="rtl"] .mdc-button.btn-outlined > .material-icon,
html[dir="rtl"] .mdc-button.btn-contained > .material-icon,
html[dir="rtl"] .mdc-button[class*="bg-"] > .material-icon,
html[dir] .mdc-button.btn-outlined[dir="rtl"] > .material-icon,
html[dir] .mdc-button.btn-contained[dir="rtl"] > .material-icon,
html[dir] .mdc-button[class*="bg-"][dir="rtl"] > .material-icon {
    margin-left: 0.5rem;
    margin-right: -0.25rem;
}

.mdc-button.btn-outlined {
    border: solid 0.0625rem var(--initial-text-divider);
}

.mdc-button.btn-contained {
    z-index: var(--z-axis-2-index);
    box-shadow: var(--z-axis-2-shadow);
}

.mdc-button.btn-contained:hover {
    z-index: var(--z-axis-4-index);
    box-shadow: var(--z-axis-4-shadow);
}

.mdc-button.btn-contained:active {
    z-index: var(--z-axis-8-index);
    box-shadow: var(--z-axis-8-shadow);
}

.mdc-button.btn-contained.disabled, .mdc-button.btn-contained[disabled], .mdc-button.btn-contained:disabled,
.mdc-button.btn-contained.disabled:hover, .mdc-button.btn-contained[disabled]:hover, .mdc-button.btn-contained:disabled:hover,
.mdc-button.btn-contained.disabled:active, .mdc-button.btn-contained[disabled]:active, .mdc-button.btn-contained:disabled:active {
    z-index: var(--z-axis-0-index);
    box-shadow: var(--z-axis-0-shadow);
}

.mdc-button.full-width.btn-outlined, .mdc-button.full-width.btn-contained, .mdc-button.full-width[class*="bg-"] {
    width: 100%;
}

.mdc-toggle-buttons {
    border-radius: 0.25rem;
    overflow: hidden;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    border: solid 0.0625rem var(--initial-text-divider);
}

.mdc-toggle-buttons > .mdc-button {
    border-radius: 0;
    min-width: 0;
    height: 2.875rem;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    text-transform: none;
    padding: 0.6875rem;

}

.mdc-toggle-buttons > .mdc-button + .mdc-button {
    border-left: solid 0.0625rem var(--initial-text-divider);
}

.mdc-toggle-buttons > .mdc-button:focus:before {
    top: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    border-radius: 100%;
}

.mdc-toggle-buttons > .mdc-button:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: all 0.2s;
    background-color: var(--main-color);
    opacity: 0;
}

.mdc-toggle-buttons > .mdc-button.active:focus:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: all 0.6s;
    opacity: 0;
    border-radius: 0;
}

.mdc-toggle-buttons > .mdc-button.active:after {
    opacity: var(--opacity-pressed);
}

.mdc-toggle-buttons > .mdc-button > .material-icon {
    margin: 0;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    vertical-align: middle;
}

html[dir] .mdc-toggle-buttons > .mdc-button > .material-icon,
html[dir] .mdc-toggle-buttons[dir] > .mdc-button > .material-icon,
html[dir] .mdc-toggle-buttons > .mdc-button[dir] > .material-icon {
    margin: 0;
}