.mdc-card {
    max-width: 100%;
    border-radius: 0.25rem;
    background-color: var(--bg-cards);
    position: relative;
    /*z-index: var(--z-axis-1-index);*/
    box-shadow: var(--z-axis-1-shadow);
    will-change: box-shadow;
    transition: box-shadow 0.3s;
    margin: 0 0 1rem;
}

.mdc-card::before {
    content: '';
    position: relative;
    padding: 0;
    margin: 0 0 -1px;
    display: block;
    width: 100%;
    height: 1px;
    pointer-events: none;
}

.mdc-card::after {
    content: '';
    position: relative;
    padding: 0;
    margin: -1px 0 0;
    display: block;
    width: 100%;
    height: 1px;
    pointer-events: none;
}

.mdc-card.resting {
    z-index: var(--z-axis-0-index);
    box-shadow: 0 0 0 0.0625rem var(--initial-bg-border);
}

.mdc-card.raised:hover {
    z-index: var(--z-axis-8-index);
    box-shadow: var(--z-axis-8-shadow);
}

.mdc-card > .mdc-card-primary {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    color: var(--text-primary);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mdc-card > .mdc-card-primary::after {
    content: '';
    position: relative;
    padding: 0;
    margin: -1px 0 0;
    display: block;
    width: 100%;
    height: 1px;
    pointer-events: none;
}

.mdc-card > .interactive.mdc-card-primary,
.mdc-card > a.mdc-card-primary,
.mdc-card > button.mdc-card-primary {
    cursor: pointer;
    text-align: inherit;
    text-decoration: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mdc-card > .interactive.mdc-card-primary::before,
.mdc-card > a.mdc-card-primary::before,
.mdc-card > button.mdc-card-primary::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    will-change: opacity;
    transition: all 0.2s;
    background-color: var(--initial-main-color);
    opacity: 0;
    z-index: 999999;
    border-radius: 0.25rem;
}

.mdc-card > .interactive.mdc-card-primary:hover::before,
.mdc-card > a.mdc-card-primary:hover::before,
.mdc-card > button.mdc-card-primary:hover::before {
    opacity: var(--opacity-hover);
}

.mdc-card > .interactive.mdc-card-primary:focus::before,
.mdc-card > a.mdc-card-primary:focus::before,
.mdc-card > button.mdc-card-primary:focus::before {
    opacity: var(--opacity-focus);
}

.mdc-card > .interactive.mdc-card-primary:active::before,
.mdc-card > a.mdc-card-primary:active::before,
.mdc-card > button.mdc-card-primary:active::before {
    opacity: var(--opacity-pressed);
}

.mdc-card > .mdc-card-primary .header {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
}

.mdc-card > .mdc-card-primary .header > .thumbnail {
    width: 2.5rem;
    height: 2.5rem;
    -ms-flex: 0 0 2.5rem;
    flex: 0 0 2.5rem;
    border-radius: 100%;
    margin: 1rem 0 1rem 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html[dir="ltr"] .mdc-card > .mdc-card-primary .header > .thumbnail,
html[dir] .mdc-card[dir="ltr"] > .mdc-card-primary .header > .thumbnail {
    margin: 1rem 0 1rem 1rem;
}

.mdc-card > .mdc-card-primary .header > .title + .thumbnail,
html[dir="ltr"] .mdc-card > .mdc-card-primary .header > .title + .thumbnail,
html[dir] .mdc-card[dir="ltr"] > .mdc-card-primary .header > .title + .thumbnail {
    margin: 1rem 1rem 1rem auto;
}

html[dir="rtl"] .mdc-card > .mdc-card-primary .header > .thumbnail,
html[dir] .mdc-card[dir="rtl"] > .mdc-card-primary .header > .thumbnail {
    margin: 1rem 1rem 1rem 0;
}

html[dir="rtl"] .mdc-card > .mdc-card-primary .header > .title + .thumbnail,
html[dir] .mdc-card[dir="rtl"] > .mdc-card-primary .header > .title + .thumbnail {
    margin: 1rem auto 1rem 1rem;
}

.mdc-card > .mdc-card-primary .header > .thumbnail.md-80 {
    width: 5rem;
    height: 5rem;
    -ms-flex: 0 0 5rem;
    flex: 0 0 5rem;
    border-radius: 0;
}

.mdc-card > .mdc-card-primary .header > .thumbnail.md-120 {
    width: 7.5rem;
    height: 7.5rem;
    -ms-flex: 0 0 7.5rem;
    flex: 0 0 7.5rem;
    border-radius: 0;
}

.mdc-card > .mdc-card-primary .header > .thumbnail.md-160 {
    width: 10rem;
    height: 10rem;
    -ms-flex: 0 0 10rem;
    flex: 0 0 10rem;
    border-radius: 0;
}

.mdc-card > .mdc-card-primary .header > .title {
    margin: 1rem 1rem 0.75rem;
}

.mdc-card > .mdc-card-primary .header:last-child > .title,
.mdc-card > .mdc-card-primary .header:last-child > .thumbnail {
    margin-bottom: 0 !important;
}

.mdc-card > .mdc-card-primary .header > .title > .mdt-overline {
    margin: 0 0 0.8em;
}

.mdc-card > .mdc-card-primary .header > .title > h1,
.mdc-card > .mdc-card-primary .header > .title > h2,
.mdc-card > .mdc-card-primary .header > .title > h3,
.mdc-card > .mdc-card-primary .header > .title > h4,
.mdc-card > .mdc-card-primary .header > .title > h5,
.mdc-card > .mdc-card-primary .header > .title > h6,
.mdc-card > .mdc-card-primary .header > .title > .mdt-h1,
.mdc-card > .mdc-card-primary .header > .title > .mdt-h2,
.mdc-card > .mdc-card-primary .header > .title > .mdt-h3,
.mdc-card > .mdc-card-primary .header > .title > .mdt-h4,
.mdc-card > .mdc-card-primary .header > .title > .mdt-h5,
.mdc-card > .mdc-card-primary .header > .title > .mdt-h6 {
    margin: 0 0 0.15em;
}

.mdc-card > .mdc-card-primary .header > .title > .mdt-subtitle,
.mdc-card > .mdc-card-primary .header > .title > .mdt-subtitle-1,
.mdc-card > .mdc-card-primary .header > .title > .mdt-subtitle-2 {
    color: var(--text-secondary);
}

.mdc-card > .mdc-card-primary .media {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    padding-top: 56.25%;
}

.mdc-card > .mdc-card-primary .media.md-1by1 {
    padding-top: 100%;
}

.mdc-card > .mdc-card-primary .supporting-text {
    margin: 1rem;
    color: var(--text-secondary);
}

.mdc-card > .mdc-card-primary:first-child,
.mdc-card > .mdc-card-primary .header:first-child,
.mdc-card > .mdc-card-primary .media:first-child,
.mdc-card > .mdc-card-primary .supporting-text:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.mdc-card > .mdc-button-group {
    padding: 0;
    margin: 0.5rem 0.25rem;
}

.mdc-card > .mdc-card-primary:last-child,
.mdc-card > .mdc-button-group:last-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}