.mdc-data-table {
    overflow: hidden;
    margin: 1rem 0;
}

.mdc-data-table > .header {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    height: 4rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
    padding: 0 1rem;
    text-align: inherit;
    border: none;
    color: rgba(var(--foreground-color), var(--opacity-primary));
}

.mdc-data-table > .header > .table-title {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
}

.mdc-data-table > .header > .actions {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0 0 0 auto;
    color: rgba(var(--foreground-color), var(--opacity-secondary));
}

html[dir="ltr"] .mdc-data-table > .header > .actions,
html[dir] .mdc-data-table[dir="ltr"] > .header > .actions {
    margin: 0 0 0 auto;
}

html[dir="rtl"] .mdc-data-table > .header > .actions,
html[dir] .mdc-data-table[dir="rtl"] > .header > .actions {
    margin: 0 auto 0 0;
}

.mdc-data-table > .header > .actions > .action-item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1.5rem;
}

html[dir="ltr"] .mdc-data-table > .header > .actions > .action-item,
html[dir] .mdc-data-table[dir="ltr"] > .header > .actions > .action-item {
    margin-left: 1.5rem;
    margin-right: 0;
}

html[dir="rtl"] .mdc-data-table > .header > .actions > .action-item,
html[dir] .mdc-data-table[dir="rtl"] > .header > .actions > .action-item {
    margin-left: 0;
    margin-right: 1.5rem;
}

.mdc-data-table > .header > .mdc-button-group {
    margin: 0 -0.25rem;
    padding: 0;
}

.mdc-data-table > .table-container {
    margin: 0;
}

.mdc-data-table > .table-container > table {
    border: none;
    margin: 0;
    min-width: 100%;
    width: 100%;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    width: max-content;
}

.mdc-data-table > .table-container > table > thead > tr,
.mdc-data-table > .table-container > table > tbody > tr {
    height: 3.0625rem;
}

.mdc-data-table > .table-container > table > tbody > tr {
    border-top: solid 0.0625rem rgba(var(--initial-foreground-color), var(--opacity-divider));
}

.mdc-data-table > .table-container > table > thead > tr > th {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5rem;
    border: none;
    padding: 0.75rem 1rem;
    color: rgba(var(--foreground-color), var(--opacity-secondary));
    white-space: nowrap;
}

.mdc-data-table > .table-container > table > thead > tr > th > .mdc-checkbox,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th > .mdc-checkbox,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th > .mdc-checkbox {
    float: left;
    margin: -0.5rem 0.25rem -0.5rem -0.5rem;
}

html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th > .mdc-checkbox,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th > .mdc-checkbox {
    float: right;
    margin: -0.5rem -0.5rem -0.5rem 0.25rem;
}

.mdc-data-table > .table-container > table > tbody > tr > td {
    font-size: 0.875rem;
    font-weight: 400;
    border: none;
    padding: 0;
    color: rgba(var(--foreground-color), var(--opacity-primary));
    white-space: nowrap;
}

.mdc-data-table > .table-container > table > thead > tr > th:first-child,
.mdc-data-table > .table-container > table > tbody > tr > td:first-child,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th:first-child,
html[dir="ltr"] .mdc-data-table > .table-container > table > tbody > tr > td:first-child,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th:first-child,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > tbody > tr > td:first-child {
    border-left: none;
    border-right: solid 0.0625rem rgba(var(--initial-foreground-color), var(--opacity-divider));
}

html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th:first-child,
html[dir="rtl"] .mdc-data-table > .table-container > table > tbody > tr > td:first-child,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th:first-child,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > tbody > tr > td:first-child {
    border-left: solid 0.0625rem rgba(var(--initial-foreground-color), var(--opacity-divider));
    border-right: none;
}

.mdc-data-table > .header + .table-container > table > thead > tr > th:first-child,
.mdc-data-table > .header + .table-container > table > tbody > tr > td:first-child,
html[dir="ltr"] .mdc-data-table > .header + .table-container > table > thead > tr > th:first-child,
html[dir="ltr"] .mdc-data-table > .header + .table-container > table > tbody > tr > td:first-child,
html[dir] .mdc-data-table[dir="ltr"] > .header + .table-container > table > thead > tr > th:first-child,
html[dir] .mdc-data-table[dir="ltr"] > .header + .table-container > table > tbody > tr > td:first-child,
html[dir="rtl"] .mdc-data-table > .header + .table-container > table > thead > tr > th:first-child,
html[dir="rtl"] .mdc-data-table > .header + .table-container > table > tbody > tr > td:first-child,
html[dir] .mdc-data-table[dir="rtl"] > .header + .table-container > table > thead > tr > th:first-child,
html[dir] .mdc-data-table[dir="rtl"] > .header + .table-container > table > tbody > tr > td:first-child {
    border-left: none;
    border-right: none;
}

.mdc-data-table > .table-container > table > thead > tr > th.direction-reverse,
.mdc-data-table > .table-container > table > tbody > tr > td.direction-reverse,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse,
html[dir="ltr"] .mdc-data-table > .table-container > table > tbody > tr > td.direction-reverse,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th.direction-reverse,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > tbody > tr > td.direction-reverse {
    text-align: right;
}

html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse,
html[dir="rtl"] .mdc-data-table > .table-container > table > tbody > tr > td.direction-reverse,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th.direction-reverse,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > tbody > tr > td.direction-reverse {
    text-align: left;
}

.mdc-data-table > .table-container > table > tbody > tr > td > .cell-data {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 1rem;
    text-align: inherit;
    height: 3rem;
    line-height: 3rem;
    color: rgba(var(--foreground-color), var(--opacity-primary));
}

.mdc-data-table > .table-container > table > tbody > tr > td > .cell-data::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    will-change: opacity;
    transition: all 0.2s;
    background-color: rgb(var(--foreground-color));
    opacity: 0;
    pointer-events: none;
}

.mdc-data-table > .table-container > table > tbody > tr:not(.selected) {
    --foreground-color: var(--initial-foreground-color);
}

.mdc-data-table > .table-container > table > tbody > tr.selected > td > .cell-data::before {
    background-color: rgb(var(--foreground-color));
    opacity: var(--opacity-selected);
}

.mdc-data-table > .table-container > table > tbody > tr:hover > td > .cell-data::before,
.mdc-data-table > .table-container > table > tbody > tr.selected:hover > td > .cell-data::before {
    opacity: var(--opacity-hover);
}

.mdc-data-table > .table-container > table > tbody > tr > td > .cell-data > .mdc-checkbox,
html[dir="ltr"] .mdc-data-table > .table-container > table > tbody > tr > td > .cell-data > .mdc-checkbox,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > tbody > tr > td > .cell-data > .mdc-checkbox {
    float: left;
    margin: 0.25rem 0.25rem 0.25rem -0.5rem;
}

html[dir="rtl"] .mdc-data-table > .table-container > table > tbody > tr > td > .cell-data > .mdc-checkbox,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > tbody > tr > td > .cell-data > .mdc-checkbox {
    float: right;
    margin: 0.25rem -0.5rem 0.25rem 0.25rem;
}

.mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: none;
    padding: 0 1rem 0 0;
}

html[dir="ltr"] .mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > tbody > tr > td > .cell-data.action-container {
    padding: 0 1rem 0 0;
}

html[dir="rtl"] .mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > tbody > tr > td > .cell-data.action-container {
    padding: 0 0 0 1rem;
}

.mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0 0 0 auto;
    color: rgba(var(--foreground-color), var(--opacity-secondary));
}

html[dir="ltr"] .mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions {
    margin: 0 0 0 auto;
}

html[dir="rtl"] .mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions {
    margin: 0 auto 0 0;
}

.mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions > .action-item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1.5rem;
}

html[dir="ltr"] .mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions > .action-item,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions > .action-item {
    margin-left: 1.5rem;
    margin-right: 0;
}

html[dir="rtl"] .mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions > .action-item,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions > .action-item {
    margin-left: 0;
    margin-right: 1.5rem;
}

.mdc-data-table > .table-container > table > tbody > tr > td > .cell-data.action-container > .actions > .action-item > .icon {
    color: inherit;
    text-decoration: none;
}

.mdc-data-table > .table-container > table > thead > tr > th > a.column-sort,
.mdc-data-table > .table-container > table > thead > tr > th > button.column-sort {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0 1.5rem 0 0;
    display: inline-block;
    color: inherit;
    will-change: color;
    transition: color 0.2s;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th > a.column-sort,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th > button.column-sort,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th > a.column-sort,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th > button.column-sort,
html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > a.column-sort,
html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > button.column-sort,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th.direction-reverse > a.column-sort,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th.direction-reverse > button.column-sort {
    padding: 0 1.5rem 0 0;
}

html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th > a.column-sort,
html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th > button.column-sort,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th > a.column-sort,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th > button.column-sort,
.mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > a.column-sort,
.mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > button.column-sort,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > a.column-sort,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > button.column-sort,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th.direction-reverse > a.column-sort,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th.direction-reverse > button.column-sort {
    padding: 0 0 0 1.5rem;
}

.mdc-data-table > .table-container > table > thead > tr > th > a.column-sort:hover,
.mdc-data-table > .table-container > table > thead > tr > th > button.column-sort:hover,
.mdc-data-table > .table-container > table > thead > tr > th > a.column-sort.asc,
.mdc-data-table > .table-container > table > thead > tr > th > button.column-sort.asc,
.mdc-data-table > .table-container > table > thead > tr > th > a.column-sort.desc,
.mdc-data-table > .table-container > table > thead > tr > th > button.column-sort.desc {
    color: rgba(var(--foreground-color), var(--opacity-primary));
}

.mdc-data-table > .table-container > table > thead > tr > th > a.column-sort::before,
.mdc-data-table > .table-container > table > thead > tr > th > button.column-sort::before {
    content: 'arrow_downward';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.5625rem;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.2s, opacity 0.2s;
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th > a.column-sort::before,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th > button.column-sort::before,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th > a.column-sort::before,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th > button.column-sort::before,
html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > a.column-sort::before,
html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > button.column-sort::before,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th.direction-reverse > a.column-sort::before,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th.direction-reverse > button.column-sort::before {
    left: auto;
    right: 0;
}

html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th > a.column-sort::before,
html[dir="rtl"] .mdc-data-table > .table-container > table > thead > tr > th > button.column-sort::before,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th > a.column-sort::before,
html[dir] .mdc-data-table[dir="rtl"] > .table-container > table > thead > tr > th > button.column-sort::before,
.mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > a.column-sort::before,
.mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > button.column-sort::before,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > a.column-sort::before,
html[dir="ltr"] .mdc-data-table > .table-container > table > thead > tr > th.direction-reverse > button.column-sort::before,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th.direction-reverse > a.column-sort::before,
html[dir] .mdc-data-table[dir="ltr"] > .table-container > table > thead > tr > th.direction-reverse > button.column-sort::before {
    left: 0;
    right: auto;
}

.mdc-data-table > .table-container > table > thead > tr > th > a.column-sort:hover::before,
.mdc-data-table > .table-container > table > thead > tr > th > button.column-sort:hover::before {
    opacity: 1;
}

.mdc-data-table > .table-container > table > thead > tr > th > a.column-sort.asc::before,
.mdc-data-table > .table-container > table > thead > tr > th > button.column-sort.asc::before {
    opacity: 1;
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.mdc-data-table > .table-container > table > thead > tr > th > a.column-sort.desc::before,
.mdc-data-table > .table-container > table > thead > tr > th > button.column-sort.desc::before {
    opacity: 1;
    -ms-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.mdc-data-table > .footer {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0 1rem;
    text-align: inherit;
    border-top: solid 0.0625rem rgba(var(--initial-foreground-color), var(--opacity-divider));
    color: rgba(var(--foreground-color), var(--opacity-secondary));

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.mdc-data-table > .footer > .summary {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5rem;
    height: 1.5rem;
    border: none;
    margin: 1rem 0;
    white-space: nowrap;
}

.mdc-data-table > .footer > .pagination {
    margin-left: 1.25rem;
    margin-right: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-align: center;
    align-items: center;
    height: 3.5rem;
}

html[dir="ltr"] .mdc-data-table > .footer > .pagination,
html[dir] .mdc-data-table[dir="ltr"] > .footer > .pagination {
    margin-left: 1.25rem;
    margin-right: 0;
}

html[dir="rtl"] .mdc-data-table > .footer > .pagination,
html[dir] .mdc-data-table[dir="rtl"] > .footer > .pagination {
    margin-left: 0;
    margin-right: 1.25rem;
}

.mdc-data-table > .footer > .pagination > .link {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1.5rem;
}

html[dir="ltr"] .mdc-data-table > .footer > .pagination > .link,
html[dir] .mdc-data-table[dir="ltr"] > .footer > .pagination > .link {
    margin-left: 1.5rem;
    margin-right: 0;
}

html[dir="rtl"] .mdc-data-table > .footer > .pagination > .link,
html[dir] .mdc-data-table[dir="rtl"] > .footer > .pagination > .link {
    margin-left: 0;
    margin-right: 1.5rem;
}

.mdc-data-table > .footer > .pagination > .link > .icon {
    color: rgba(var(--foreground-color), var(--opacity-hint));
}

html[dir="rtl"] .mdc-data-table > .footer > .pagination > .link > .icon,
html[dir] .mdc-data-table[dir="rtl"] > .footer > .pagination > .link > .icon {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mdc-data-table > .footer > .pagination > .link > a.icon,
.mdc-data-table > .footer > .pagination > .link > button.icon {
    color: rgba(var(--foreground-color), var(--opacity-secondary));
    text-decoration: none;
}