.mdc-button-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0 -0.25rem;
}

.mdc-button-group > .mdc-button,
.mdc-button-group > .mdc-toggle-buttons {
    margin: 0 0.25rem;
}

.mdc-button-group.direction-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

a.mdc-button, button.mdc-button, .mdc-button {
    border: none;
    outline: none;
    border-radius: 0.25rem;
    min-width: 4rem;
    height: 2.25rem;
    color: rgba(var(--foreground-color), var(--opacity-primary));
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: 0.053571em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0.5rem;
    overflow: hidden;
    vertical-align: middle;
    transition: all 0.2s;
    white-space: nowrap;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.mdc-button > .icon {
    margin-left: 0;
    margin-right: 0.5rem;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
    vertical-align: middle;
}

html[dir="ltr"] .mdc-button > .icon,
html[dir] .mdc-button[dir="ltr"] > .icon {
    margin-left: 0;
    margin-right: 0.5rem;
}

html[dir="rtl"] .mdc-button > .icon,
html[dir] .mdc-button[dir="rtl"] > .icon {
    margin-left: 0.5rem;
    margin-right: 0;
}

.mdc-button::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: all 0.2s;
    background-color: rgb(var(--foreground-color));
    opacity: 0;
}

.mdc-button:hover::before {
    opacity: var(--opacity-hover);
}

.mdc-button:focus::before {
    opacity: var(--opacity-focus);
}

.mdc-button:active::before {
    opacity: var(--opacity-pressed);
}

.mdc-button.disabled, .mdc-button[disabled], .mdc-button:disabled {
    --foreground-color: var(--initial-foreground-color);

    cursor: default;
    color: rgba(var(--foreground-color), var(--opacity-hint));
}

.mdc-button.disabled[class*="bg-"], .mdc-button[class*="bg-"][disabled], .mdc-button[class*="bg-"]:disabled {
    background-color: rgba(var(--foreground-color), var(--opacity-divider));
}

.mdc-button.disabled::before, .mdc-button[disabled]::before, .mdc-button:disabled::before {
    display: none;
}

.mdc-button.disabled > .icon, .mdc-button[disabled] > .icon, .mdc-button:disabled > .icon {
    color: rgba(var(--foreground-color), var(--opacity-hint));
}

.mdc-button.btn-outlined, .mdc-button.btn-contained, .mdc-button[class*="bg-"] {
    padding: 0 1rem;
}

.mdc-button.btn-outlined > .icon, .mdc-button.btn-contained > .icon, .mdc-button[class*="bg-"] > .icon {
    margin-left: -0.25rem;
}

html[dir="ltr"] .mdc-button.btn-outlined > .icon,
html[dir="ltr"] .mdc-button.btn-contained > .icon,
html[dir="ltr"] .mdc-button[class*="bg-"] > .icon,
html[dir] .mdc-button.btn-outlined[dir="ltr"] > .icon,
html[dir] .mdc-button.btn-contained[dir="ltr"] > .icon,
html[dir] .mdc-button[class*="bg-"][dir="ltr"] > .icon {
    margin-left: -0.25rem;
    margin-right: 0.5rem;
}

html[dir="rtl"] .mdc-button.btn-outlined > .icon,
html[dir="rtl"] .mdc-button.btn-contained > .icon,
html[dir="rtl"] .mdc-button[class*="bg-"] > .icon,
html[dir] .mdc-button.btn-outlined[dir="rtl"] > .icon,
html[dir] .mdc-button.btn-contained[dir="rtl"] > .icon,
html[dir] .mdc-button[class*="bg-"][dir="rtl"] > .icon {
    margin-left: 0.5rem;
    margin-right: -0.25rem;
}

.mdc-button.btn-outlined {
    border: solid 0.0625rem rgba(var(--foreground-color), var(--opacity-divider));
}

.mdc-button.btn-contained {
    z-index: var(--z-axis-2-index);
    box-shadow: var(--z-axis-2-shadow);
}

.mdc-button.btn-contained:hover {
    z-index: var(--z-axis-4-index);
    box-shadow: var(--z-axis-4-shadow);
}

.mdc-button.btn-contained:active {
    z-index: var(--z-axis-8-index);
    box-shadow: var(--z-axis-8-shadow);
}

.mdc-button.btn-contained.disabled, .mdc-button.btn-contained[disabled], .mdc-button.btn-contained:disabled,
.mdc-button.btn-contained.disabled:hover, .mdc-button.btn-contained[disabled]:hover, .mdc-button.btn-contained:disabled:hover,
.mdc-button.btn-contained.disabled:active, .mdc-button.btn-contained[disabled]:active, .mdc-button.btn-contained:disabled:active {
    z-index: var(--z-axis-0-index);
    box-shadow: var(--z-axis-0-shadow);
}

.mdc-button.full-width.btn-outlined, .mdc-button.full-width.btn-contained, .mdc-button.full-width[class*="bg-"] {
    width: 100%;
}

.mdc-toggle-buttons {
    border-radius: 0.25rem;
    overflow: hidden;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: solid 0.0625rem rgba(var(--foreground-color), var(--opacity-divider));
}

.mdc-toggle-buttons > .mdc-button {
    border-radius: 0;
    min-width: 0;
    height: 2.875rem;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    text-transform: none;
    padding: 0.6875rem;
    margin: 0;
}

.mdc-toggle-buttons > .mdc-button + .mdc-button,
html[dir="ltr"] .mdc-toggle-buttons > .mdc-button + .mdc-button,
html[dir] .mdc-toggle-buttons[dir="ltr"] > .mdc-button + .mdc-button {
    border-left: solid 0.0625rem rgba(var(--foreground-color), var(--opacity-divider));
    border-right: none;
}

html[dir="rtl"] .mdc-toggle-buttons > .mdc-button + .mdc-button,
html[dir] .mdc-toggle-buttons[dir="rtl"] > .mdc-button + .mdc-button {
    border-left: none;
    border-right: solid 0.0625rem rgba(var(--foreground-color), var(--opacity-divider));
}

.mdc-toggle-buttons > .mdc-button:focus::before {
    top: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    border-radius: 100%;
}

.mdc-toggle-buttons > .mdc-button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: all 0.2s;
    background-color: rgb(var(--foreground-color));
    opacity: 0;
}

.mdc-toggle-buttons > .mdc-button.active:focus::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: all 0.6s;
    opacity: 0;
    border-radius: 0;
}

.mdc-toggle-buttons > .mdc-button.active::after {
    opacity: var(--opacity-pressed);
}

.mdc-toggle-buttons > .mdc-button > .icon {
    margin: 0;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    vertical-align: middle;
}

html[dir] .mdc-toggle-buttons > .mdc-button > .icon,
html[dir] .mdc-toggle-buttons[dir] > .mdc-button > .icon,
html[dir] .mdc-toggle-buttons > .mdc-button[dir] > .icon {
    margin: 0;
}