.mdc-datepicker-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: var(--z-axis-24-index);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    will-change: opacity, visibility;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: default;
    margin: 0 !important;
    padding: 0 !important;
}

.mdc-datepicker-container.active {
    visibility: visible;
    opacity: 1;
}

.mdc-datepicker {
    background-color: var(--initial-bg-cards);
    box-shadow: var(--z-axis-24-shadow);
    border-radius: 0.25rem;
    overflow: hidden;
    will-change: transform;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mdc-datepicker-container:not(.active) > .mdc-datepicker {
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.mdc-datepicker > .header {
    background-color: var(--main-color);
    color: var(--fg-primary);
    padding: 0 1.5rem;
}

.mdc-datepicker::before, .mdc-datepicker::after,
.mdc-datepicker > .header::before, .mdc-datepicker > .header::after {
    content: '';
    display: table;
}

.mdc-datepicker > .header > .label {
    margin-top: 1.25rem;
    font-size: 0.625rem;
    letter-spacing: 0.15em;
    font-weight: 400;
    text-transform: uppercase;
}

.mdc-datepicker > .header > .selected-date {
    margin-top: 2.125rem;
    margin-bottom: 0.75rem;
    font-size: 2.125rem;
    letter-spacing: 0.007353em;
    font-weight: 400;
}

.mdc-datepicker > .mdc-calendar-controls {
    margin: 1rem 0;
    color: var(--initial-text-secondary);
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.mdc-datepicker > .mdc-calendar-controls > .selected-month {
    font-size: 0.875rem;
    letter-spacing: 0.007143em;
    font-weight: 500;
    line-height: 1.5rem;
    white-space: nowrap;
    margin-left: 1.5rem;
    margin-right: 0.25rem;
}

.mdc-datepicker > .mdc-calendar-controls > .month-controls {
    display: -ms-flexbox;
    display: flex;
    width: 4.5rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 1.5rem 0 auto;
}

.mdc-datepicker > table.month-days {
    margin: 0 0.625rem;
    width: auto;
}

.mdc-datepicker > table.month-days th {
    font-size: 0.75rem;
    text-align: center;
    color: var(--initial-text-secondary);
    text-transform: uppercase;
    line-height: 2.25rem;
    padding: 0.125rem 0.25rem;
    border: none;
    width: 2.75rem;
}

.mdc-datepicker > table.month-days td {
    font-size: 0.75rem;
    text-align: center;
    line-height: 2.25rem;
    padding: 0;
    border: none;
    width: 2.75rem;
}

.mdc-datepicker > table.month-days td > .month-day {
    font-size: 0.75rem;
    padding: 0;
    margin: 0.125rem 0.25rem;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
    color: var(--initial-text-primary);
    position: relative;
    cursor: pointer;
    will-change: background-color, color;
    transition: background-color 0.3s, color 0.3s;
}

.mdc-datepicker > table.month-days td > .month-day.active {
    background-color: var(--main-color);
    color: var(--fg-primary);
}

.mdc-datepicker > table.month-days td > .month-day::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s;
    border: solid 0.0625rem var(--initial-text-secondary);
}

.mdc-datepicker > table.month-days td > .month-day:hover::before {
    opacity: 1;
}

.mdc-datepicker > table.month-days td > .month-day.active::before {
    display: none;
}

.mdc-datepicker > .mdc-button-group {
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding-left: 1.25rem;
    padding-right: 0.25rem;
}

@media (min-width: 960px) {
    .mdc-datepicker {
        padding-left: 10.5rem;
    }

    .mdc-datepicker > .header {
        width: 10.5rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .mdc-datepicker > .header > .selected-date {
        margin-top: 3.125rem;
    }

    .mdc-datepicker > .mdc-calendar-controls {
        margin-bottom: 0.5rem;
    }


    .mdc-datepicker > table.month-days {
        margin: 0 1.125rem;
    }

    .mdc-datepicker > table.month-days th {
        line-height: 1.75rem;
        padding: 0 0.25rem;
    }

    .mdc-datepicker > table.month-days td > .month-day {
        margin: 0 0.25rem;
    }

    .mdc-datepicker > table.month-days td > .month-day::before {
        top: 0.0625rem;
        right: 0.0625rem;
        bottom: 0.0625rem;
        left: 0.0625rem;
    }

    .mdc-datepicker > .mdc-button-group {
        padding-top: 0;
    }
}