:root {
    --hljs-name: #E53935;
    --hljs-attr: #0277BD;
    --hljs-string: #00838F;
}

.md-theme-light {
    --hljs-name: #E53935;
    --hljs-attr: #0277BD;
    --hljs-string: #00838F;
}

.md-theme-dark {
    --hljs-name: #EF9A9A;
    --hljs-attr: #29B6F6;
    --hljs-string: #26C6DA;
}

h1.article_title {
    font-size: 3rem;
    margin: 0 0 1rem;
}

.img_figure {
    margin: 1rem 0;
    border: solid 0.0625rem var(--initial-text-divider);
}

.img_figure > img {
    float: left;
}

pre, pre *, code, code * {
    font-family: Monaco, monospace !important;
}

pre.html .hljs-name {
    color: var(--hljs-name);
}

pre.html .hljs-attr {
    color: var(--hljs-attr);
}

pre.html .hljs-string {
    color: var(--hljs-string);
}

.mdc-list-group.example {
    margin: 1rem 0;
    border: solid 0.0625rem var(--initial-text-divider);
}

#mdc-nav-drawer .mdc-list-item > .text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#mdc-nav-drawer a.mdc-list-item:not(.active) {
    --text-primary: var(--initial-text-primary);
}

#mdc-nav-drawer .mdc-list-group.expanded > .mdc-dropdown {
    padding: 0.5rem 0 1rem;
}

#mdc-nav-drawer .mdc-list-group > .mdc-dropdown > a.mdc-list-item > .text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.5rem;
}

.space {
    padding: 1rem;
}

.btn-group-example {
    margin: 1rem 0;
}

.btn-group-example > .mdc-button + .mdc-button {
    margin-left: 0.5rem;
}

ul.palette {
    margin: 1rem 0;
    padding: 0 !important;
    list-style-type: none;
    border-radius: 0.24rem;
    overflow: hidden;
}

ul.palette li {
    padding: 1rem 1.5rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.palette .title {
    font-size: 1.5rem;
    font-weight: inherit;
    margin-bottom: 1.5rem;

    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

ul.palette .left {
    font-size: inherit;
    font-weight: inherit;
    direction: ltr;

    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

ul.palette .right {
    font-size: inherit;
    font-weight: inherit;
    text-align: right;
    direction: ltr;

    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

html[dir="ltr"] ul.palette .right {
    text-align: right;
}

html[dir="rtl"] ul.palette .right {
    text-align: left;
}

ul.palette.text-colors {
    border: solid 0.0625rem var(--initial-text-divider);
    margin: 0;
}

ul.palette.text-colors > li + li {
    border-top: solid 0.0625rem var(--initial-text-divider);
}